// #firstInput {
//   width: 20%;
//   display: inline-block;
//   float: left;
//   border-bottom-right-radius: 0;
//   border-top-right-radius: 0;
// }
// #secondInput {
//   width: 80%;
//   display: inline-block;
//   float: left;
//   border-bottom-left-radius: 0;
//   border-top-left-radius: 0;
//   border-left:0px;
// }

.custom-invalid{
        color: red;
        display: block;

}


.cardList {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }