<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Edit User </h1>
                    <a (click)="goTomanageUser()">Back To List</a>
                </div>
                <!-----start input fields------>
                <div class="add_user_list">
                    <ul>
                        <li>
                            <label>First Name<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="First Name" [(ngModel)]="firstName"
                                    name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Last Name<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Last Name" [(ngModel)]="lastName" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Email<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="User Email" name="name" [(ngModel)]="UserEmail"
                                    name="name">
                            </mat-form-field>
                        </li>

                        <li>
                            <label> Phone number <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Country Code" id="firstInput"
                                    name="countryCode" [(ngModel)]="userCountryCode" name="name">
                                <input matInput type="text" placeholder="Phone Number" id="secondInput" name="name"
                                    [(ngModel)]="UserPhoneNumber" name="name">
                            </mat-form-field>
                        </li>

                        <li>
                            <label>Number of Order <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" disabled placeholder="Number of Order"
                                    [(ngModel)]="numberOfOrder" name="numberOfOrder">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Completed Order <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" disabled placeholder="Completed Order" name="name"
                                    [(ngModel)]="completedOrder" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Rejected Order <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" disabled placeholder="Rejected Order" name="name"
                                    [(ngModel)]="rejectedOrder" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Total amount paid <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" disabled placeholder="Total Amount Paid" name="name"
                                    [(ngModel)]="totalAmountPaid" name="name">
                            </mat-form-field>
                        </li>

                    </ul>
                    <div class="update_button">
                        <button mat-button (click)="updateUser()">
                            Update
                        </button>
                        <button mat-button class="cancel_button">
                            Cancel
                        </button>
                    </div>
                </div>
                <!-----End input fields------>

            </div>
        </div>
    </div>
</div>