<div id="wrapper">
<app-navbar></app-navbar>
<div id="content-wrapper" class="">
<div id="content">
<app-sidebar></app-sidebar>
<div class="container-fluid">
<div class="sub_heading">
<h1>Notification</h1>

</div>

<div class="outer_table">

<div class="alert">
<div class=" comman_alert">
<p> <span class="icon_order"> <i class="material-icons">info_outline</i>
</span></p>
<h5>
    <h3 class="notification_date">December 13, 2019</h3>
    <h4 class="order_name">New Product Added by Vendor</h4>  
</h5>
</div>
</div>
<div class="alert">
<div class="comman_alert">
    <p> <span class="icon_order"> <i class="material-icons">check</i>
    </span></p>
    <h5>
        <h3 class="notification_date">December 12, 2019</h3>
        <h4 class="order_name">Profile is Updated</h4>
    </h5>


</div>
</div>
<div class="alert ">
<div class="comman_alert">

    <p> <span class="icon_order"> <i class="material-icons">warning</i>
    </span></p>
    <h5>
        <h3 class="notification_date">December 11, 2019</h3>
        <h4 class="order_name">Order Should be Rejected due to low Balance in vendor account</h4>   
    </h5>
</div>
</div>
<div class="alert ">
<div class="comman_alert">
    <p> <span class="icon_order">  <i class="material-icons">star</i>
    </span> </p>
    <h5>
        <h3 class="notification_date">December 10, 2019</h3>
        <h4 class="order_name">4.5 Customer Review for App</h4>    
    </h5>
</div>
</div>
<div class="alert ">
<div class="comman_alert">
    <p> <span class="icon_order"> <i class="material-icons">update</i></span>
    </p>
    <h5> 

        <h3 class="notification_date">December 09, 2019</h3>
        <h4 class="order_name">Vendor Profile is Updated</h4> 
    </h5>

</div>
</div>




</div>

</div>
</div>
</div>
</div>