<div class="login_div">
    <div class="conta_iner">
        <div class="logininner">
            <div class="logo">
                <figure><img src="../../assets/images/logo.png"></figure>
            </div>
            <form>
                <div class="sub_main_heading">
                    <h2>Reset Password</h2>
                </div>
                <div class="input_divs">
                    <mat-form-field [floatLabel]="'never'">
                        <input matInput type="password" name="Old password" placeholder="Password">
                    </mat-form-field>
                </div>
                <div class="input_divs">
                    <mat-form-field [floatLabel]="'never'">
                        <input matInput type="password" name="New password" placeholder="Password">
                    </mat-form-field>
                </div>
                <div class="input_divs">
                    <mat-form-field [floatLabel]="'never'">
                        <input matInput type="password" name="Confirm password" placeholder="Password">
                    </mat-form-field>
                </div>
                <div class="input_divs input_button">
                    <a (click)="goTologin()"><button mat-button>Update</button></a>
                </div>
            </form>
        </div>
    </div>
</div>