<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Change Password</h1>

                </div>
                <!-----start input fields------>
                <form [formGroup]="changePassForm" (ngSubmit)="onChangePassword()">
                    <div class="add_user_list">
                        <ul>
                            <li>

                                <mat-form-field class="full-width">
                                    <mat-label>Current Password<span class="red">*</span></mat-label>
                                    <input matInput type="password" name="name" formControlName="oldPassword">
                                    <mat-error *ngIf="changePassForm.get('oldPassword').hasError('required')">
                                        Current Password is required.
                                    </mat-error>
                                    <mat-error *ngIf="changePassForm.get('oldPassword').hasError('minlength') &&
                                        !changePassForm.get('oldPassword').hasError('required')">
                                        Current Password should be min 7 characters.
                                    </mat-error>
                                    <mat-error *ngIf="changePassForm.get('oldPassword').hasError('maxlength') &&
                                        !changePassForm.get('oldPassword').hasError('required')">
                                        Current Password should be max 25 characters long.
                                    </mat-error>



                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field class="full-width">
                                    <mat-label>New Password<span class="red">*</span></mat-label>
                                    <input matInput type="password" name="name" formControlName="newPassword">
                                    <mat-error *ngIf="changePassForm.get('newPassword').hasError('required')">
                                        New Password is required.
                                    </mat-error>
                                    <mat-error *ngIf="changePassForm.get('newPassword').hasError('minlength') &&
                                        !changePassForm.get('newPassword').hasError('required')">
                                        New Password should be min 7 characters.
                                    </mat-error>
                                    <mat-error *ngIf="changePassForm.get('newPassword').hasError('maxlength') &&
                                        !changePassForm.get('newPassword').hasError('required')">
                                        New Password should be max 25 characters long.
                                    </mat-error>



                                </mat-form-field>





                            </li>
                            <li>
                                <mat-form-field class="full-width">
                                    <mat-label>Confirm Password<span class="red">*</span></mat-label>
                                    <input matInput type="password" name="name" formControlName="confirmPassword">
                                    <mat-error *ngIf="changePassForm.get('confirmPassword').hasError('required')">
                                        Confirm Password is required.
                                    </mat-error>
                                    <mat-error *ngIf="changePassForm.get('confirmPassword').hasError('minlength') &&
                                        !changePassForm.get('confirmPassword').hasError('required')">
                                        Confirm Password should be min 7 characters.
                                    </mat-error>
                                    <mat-error *ngIf="changePassForm.get('confirmPassword').hasError('maxlength') &&
                                        !changePassForm.get('confirmPassword').hasError('required')">
                                        Confirm Password should be max 25 characters long.
                                    </mat-error>
                                    <mat-error *ngIf="changePassForm.get('confirmPassword').hasError('mustMatch') &&
                                        !changePassForm.get('confirmPassword').hasError('required')">
                                        Confirm Password should be max 25 characters long.
                                    </mat-error>


                                </mat-form-field>

                                <!-- 
                                <label>Confirm Password<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="password" name="name" formControlName="confirmPassword">
                                </mat-form-field>
                                <div *ngIf="submitted && f.confirmPassword.errors" class="custom-invalid">
                                    <div *ngIf="f.confirmPassword.errors.required">
                                        confirm Password is required.
                                    </div>
                                    <div *ngIf="f.confirmPassword.errors.minlength">
                                        confirm Password should be min 7 characters.
                                    </div>
                                    <div *ngIf="f.confirmPassword.errors.maxlength">
                                        confirm Password should be max 25 characters long.
                                    </div>


                                    <div *ngIf="f.confirmPassword.errors.mustMatch">
                                        Password and confirm password is not same.
                                    </div>

                                </div> -->
                            </li>

                        </ul>
                        <div class="update_button">
                            <button mat-button type="submit">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
                <!-----End input fields------>
                <div class="loader_bg" *ngIf="progress">
                    <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#97334b ;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>