<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Change Password</h1>

                </div>
                <!-----start input fields------>
                <form [formGroup]="changePassForm" (ngSubmit)="onChangePassword()">
                    <div class="add_user_list">
                        <ul>
                            <li>
                                <label>Current Password<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="password" placeholder="" name="name"
                                        formControlName="oldPassword">
                                    <div *ngIf="submitted && f.oldPassword.errors" class="custom-invalid">
                                        <div *ngIf="f.oldPassword.errors.required">
                                            Old Password Name is required.
                                        </div>
                                        <div *ngIf="f.oldPassword.errors.minLength">
                                            Old Password is not valid.
                                        </div>
                                        <div *ngIf="f.oldPassword.errors.maxlength">
                                            Old Password can be max 20 characters long.
                                        </div>
                                    </div>
                                </mat-form-field>
                            </li>
                            <li>
                                <label>New Password<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="password" placeholder="" name="name"
                                        formControlName="newPassword">
                                </mat-form-field>
                                <div *ngIf="submitted && f.newPassword.errors" class="custom-invalid">
                                    <div *ngIf="f.newPassword.errors.required">
                                        New Password is required.
                                    </div>
                                    <div *ngIf="f.newPassword.errors.minLength">
                                        New Password can be min 8 characters.
                                    </div>
                                    <div *ngIf="f.newPassword.errors.maxlength">
                                        New Password can be max 20 characters long.
                                    </div>
                                </div>
                            </li>
                            <li>
                                <label>Confirm Password<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="password" placeholder="" name="name"
                                        formControlName="confirmPassword">
                                </mat-form-field>
                                <div *ngIf="submitted && f.confirmPassword.errors" class="custom-invalid">
                                    <div *ngIf="f.confirmPassword.errors.required">
                                        Confirm Password is required.
                                    </div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">
                                        Password and confirm password is not same.
                                    </div>

                                </div>
                            </li>

                        </ul>
                        <div class="update_button">
                            <button mat-button type="submit">
                                Update
                            </button>
                        </div>
                    </div>
                </form>
                <!-----End input fields------>


            </div>
        </div>
    </div>
</div>