<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="login_div2">
                <div class="container-fluid">
                    <div class="sub_heading">
                        <h2>Add {{roles=='merchant'? 'Vendor':'Celebrity'}} </h2>
                        <div class="input_divs2 input_button input_button2">
                            <button class="btn_back" mat-button (click)="back()"><i class="fa fa-long-arrow-left"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="conta_iner">
                        <div>
                            <form [formGroup]="setUpProfile">
                                <ul class="pt-5">
                                    <li class="input_file P_file">

                                        <input type="file" placeholder="" id="file" (change)="onProfileChange($event) "
                                            formControlName="profilePhoto" name="documentOne">

                                        <div class="user_img">

                                            <ng-container *ngIf="uploaded==true; else elseTemplate">
                                                <figure>
                                                    <img style="height: 100%;width: 100%" [src]="profileImage" />
                                                </figure>
                                            </ng-container>
                                            <ng-template #elseTemplate>
                                                <img src="assets/profileImage" alt="">
                                            </ng-template>

                                        </div>

                                    </li>

                                    <li>


                                        <mat-form-field class="example-full-width">
                                            <mat-label>First Name<span class="red">*</span></mat-label>
                                            <input type="email" matInput formControlName="firstName"
                                                placeholder="First Name">

                                            <mat-error *ngIf="setUpProfile.get('firstName').hasError('required')">
                                                First Name <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                    </li>
                                    <li>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Last Name<span class="red">*</span></mat-label>
                                            <input matInput type="text" placeholder="" formControlName="lastName"
                                                name="lastName">
                                            <mat-error *ngIf="setUpProfile.get('lastName').hasError('required')">
                                                Last Name <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                    </li>
                                    <li>
                                        <!-- <label>Address<span class="red">*</span></label> -->
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Gender<span class="red">*</span></mat-label>

                                            <mat-select placeholder="Placeholder" formControlName="gender">
                                                <mat-option value="M">
                                                    Male
                                                </mat-option>
                                                <mat-option value="F">
                                                    Female
                                                </mat-option>
                                            </mat-select>

                                            <mat-error *ngIf="setUpProfile.get('gender').hasError('required')">
                                                Gender is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Email<span class="red">*</span></mat-label>
                                            <input matInput type="email" placeholder="" formControlName="email"
                                                name="email">
                                            <mat-error *ngIf="setUpProfile.get('email').hasError('required')">
                                                Email is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                    </li>
                                    <!-- <li>



                                <label>Vendor Country Code<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" ng-intl-tel-input
                                        formControlName="countryCode" name="countryCode">
                                </mat-form-field>
                                <div *ngIf="submitted && f.countryCode.errors" class="custom-invalid">
                                    <div *ngIf="f.countryCode.errors.required">
                                        Confirm Password is required.
                                    </div>


                                </div>
                            </li> -->
                                    <li>
                                        <!-- <label><span class="red">*</span></label> -->
                                        <div class="cardList">
                                            <mat-form-field style="width: 20%;" class="example-full-width">
                                                <mat-label>Country Code<span class="red">*</span></mat-label>
                                                <input type="text" list="browsers" aria-label="Number" matInput
                                                    formControlName="countryCode">
                                                <datalist id="browsers">
                                                    <option *ngFor="let body of countryList" value="{{body.dial_code}}">
                                                        {{body.name}}
                                                    </option>
                                                </datalist>
                                                <mat-error *ngIf="setUpProfile.get('countryCode').hasError('required')">
                                                    Country Code is <strong>required</strong>
                                                </mat-error>

                                            </mat-form-field>

                                            <mat-form-field style="width: 80%;" class="example-full-width pl-3">
                                                <mat-label>Phone Number<span class="red">*</span></mat-label>
                                                <input matInput type="number" min="0" id="secondInput"
                                                    formControlName="phone" name="phone">
                                                <mat-error *ngIf="setUpProfile.get('phone').hasError('required')">
                                                    Phone Number is <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </li>
                                    <!-- <li>
                                       
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Address<span class="red">*</span></mat-label>

                                            <input matInput formControlName="address" [options]="options"
                                                ngx-google-places-autocomplete #placesRef="ngx-places"
                                                (onAddressChange)="AddressChange($event)" />

                                            <mat-error *ngIf="setUpProfile.get('address').hasError('required')">
                                                Address is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    </li> -->
                                    <!-- {{ formattedaddress }} -->
                                    <!-- <li>
                                        <mat-form-field class="example-full-width">

                                            <mat-label>Bio</mat-label>
                                            <textarea matInput placeholder="Tell us something about your self"
                                                formControlName="bio"></textarea>
                                        </mat-form-field>

                                    </li> -->
                                    <!-- <li>
                                        <mat-label>Specialities<span class="red">*</span></mat-label>
                                        <ng-multiselect-dropdown [placeholder]="" [data]="categoryList"
                                            [(ngModel)]="selectedCategoryItem" [ngModelOptions]="{standalone: true}"
                                            [settings]="categoryDropDownSettings" (onSelect)="onCategorySelect($event)"
                                            (onSelectAll)="onSelectAll($event)">
                                        </ng-multiselect-dropdown>
                                        <mat-error
                                            *ngIf="submitted==true && setUpProfile.get('Specialities').hasError('required')">
                                            Specialities is <strong>required</strong>
                                        </mat-error>

                                    </li> -->
                                    <!-- <li *ngIf="roles !=='merchant'">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Purpose<span class="red">*</span></mat-label>

                                            <mat-select placeholder="Placeholder" formControlName="celebrityType">
                                                <mat-option value="1">
                                                    Endorse
                                                </mat-option>
                                                <mat-option value="2">
                                                    Sell
                                                </mat-option>
                                                <mat-option value="3">
                                                    Both
                                                </mat-option>
                                            </mat-select>

                                            <mat-error *ngIf="setUpProfile.get('celebrityType').hasError('required')">
                                                Purpose is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>

                                    </li> -->
                                    <li class="input_file">
                                        <label>Certificates </label>

                                        <input type="file" placeholder="Add Contract" id="file"
                                            (change)="onFileChange($event) " formControlName="profilePhoto"
                                            name="documentOne">


                                        <div class="row" *ngIf="urls">
                                            <figure class="col-4 item_img" *ngFor="let item of urls;let i=index">
                                                <img width="100px" height="100px " [src]="item.document" alt="tent">
                                                <a class="del_btn" aria-label="Delete" (click)="deletePhoto(i)"> <i
                                                        class="fa fa-trash-o fa-fw"></i></a>
                                            </figure>

                                        </div>


                                    </li>



                                    <!-- <li>
                            <label>Status<span class="red">*</span></label>
                            <mat-form-field>
                                <mat-select>
                                    <mat-option *ngFor="let Ready of pick" [value]="Ready.value">
                                        {{Ready.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </li> -->



                                </ul>

                                <div class="input_divs input_button">
                                    <button (click)="onProfileSetUp()" mat-button>Save</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader_bg" *ngIf="progress">
    <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#ffa200 ;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>