
<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Revenue Graph</h1>
               </div>
                
                <div class="charts">
                    <ul>
                        <li>
                            <div class="chart_title">
                                <p>Revenue Graph</p>
                                <div class="filters Booking_status">
                                    <label>Filter</label>
                                    <select>
                                        <option>Daily</option>
                                        <option>Weekly</option>
                                        <option>Monthly</option>
                                        <option>Yearly</option>
                                    </select>
                                </div>
                            </div>
                            <div class="user_charts">
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                </canvas>
                            </div>
                        </li>                     
                    </ul>
                </div>
             

            </div>
        </div>
    </div>
</div>