<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Food Truck Management</h1>
                    <div class="input_divs2 input_button ">
                        <!-- <button mat-button>Add Vendor</button>
                        <button class="btn_back" mat-button>Download CSV</button> -->

                        <!-- <button class="btn_back" mat-button (click)="back()"><i class="fa fa-long-arrow-left"
                                aria-hidden="true"></i></button>  -->
                    </div>
                    <!-- <div class="top_subheading_add">
                        <button class="btn_back" mat-button>Add </button>
                    </div> -->
                    <div class="top_subheading_add ">
                        <button data-toggle="modal" data-target="#Add_truck" mat-button matRipple
                            [matRippleColor]="'#9e8221'" [matRippleRadius]="20">Add Food
                            Truck</button>
                        <!-- <button class="btn_back ml-2" matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20"
                            mat-button>Download CSV</button> -->
                    </div>

                </div>
                <div class="outer_table">
                    <div class="search_fields">
                        <div class="filters Booking_status">
                            <mat-form-field class="example-full-width">
                                <mat-label>Filter<span class="red">*</span></mat-label>

                                <mat-select placeholder="Filter" [(ngModel)]="filterBy"
                                    (selectionChange)="filterSelected($event)">
                                    <mat-option *ngIf="flag==true" value="">
                                        Remove Filter
                                    </mat-option>

                                    <mat-option value="active">
                                        Active
                                    </mat-option>
                                    <mat-option value="inactive">
                                        Inactive
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="search_inner_fiels">
                            <div class="filters Booking_status">
                                <div class="search_with_icons">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Search</mat-label>

                                        <input matInput type="text" [(ngModel)]="search" placeholder="">
                                    </mat-form-field>
                                    <button mat-button matSuffix mat-icon-button> <i *ngIf="flagSearch==true"
                                            class="fa fa-search" aria-hidden="true" (click)="searchMethod()"></i>
                                        <i *ngIf="flagSearch==false" class="fa fa-times" aria-hidden="true"
                                            (click)="clearSearch()"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="loader_bg" *ngIf="progress">
                        <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#ffa200 ;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="noDataFound">
                        <p style="font-size: 40px; font-family: sans-serif;"> No Data Found </p>
                    </div>
                    <div *ngIf="length==0">
                        <h2>
                            No Data Found
                        </h2>
                    </div>

                    <div *ngIf="length>0" class="table-responsive divAboveTable">
                        <table>
                            <tr>

                                <th>Vehicle Number</th>
                                <th>Truck Name </th>
                                <!-- <th>Area Assigned</th>

                                <th> Equipment Status </th>

                                <th>Ingredient Status</th>
                                <th class="action_bx">Requests</th> -->
                                <th>Status</th>
                                <th class="action_bx">Actions</th>
                            </tr>

                            <tr *ngFor="let item of foodTruckList">
                                <td>{{item.vehicleNumber}}</td>
                                <td>{{item.name}}</td>
                                <td>
                                    <div class="enable_disable">
                                        <mat-slide-toggle [checked]="item.status=='1'? true:false"
                                            (change)="onChangeBlockStatus(item.status,item._id)">
                                        </mat-slide-toggle>
                                    </div>

                                </td>
                                <td>
                                    <div class="action">
                                        <ul>


                                            <li class="edit"><a><i class="fa fa-pencil fa-fw" data-toggle="modal"
                                                        data-target="#edit_truck" (click)="edit(item._id)"></i></a>
                                            </li>
                                            <li class="delete"><i class="fa fa-trash-o fa-fw"
                                                    (click)="delete(item._id)"></i></li>
                                        </ul>


                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <!-----start pagination-->
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="pageEvent = vendorListAfterPageSizeChanged($event)">
                </mat-paginator>
                <!-----end pagination-->

            </div>
        </div>
    </div>
</div>

<!-- add Food truck form -->
<div id="Add_truck" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div> -->
            <div class="modal-body">
                <h3> Add Food Truck</h3>
                <form [formGroup]="addFoodTruckForm">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <!-- <label for="title">Name of the Category</label>
                            <div class="input-group">
                                <input class="form-control" type="text" value="" name="name" formControlName="name">
                            </div>
                            <div *ngIf="submitted && addFoodTruckForm.controls.name.errors" class="invalid-feedback">
                                <div *ngIf="addFoodTruckForm.controls.name.errors.required">
                                    Category Name is required.
                                </div>
                                <div *ngIf="addFoodTruckForm.controls.name.errors.pattern">
                                    Category Name is not valid.
                                </div>
                                <div *ngIf="addFoodTruckForm.controls.name.errors.maxlength">
                                    Category Name should be max 25 characters long.
                                </div>
                            </div> -->

                            <mat-form-field class="example-full-width">
                                <mat-label>Name of the Food Truck<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Food Truck Number" formControlName="name"
                                    name="password">
                                <mat-error *ngIf="addFoodTruckForm.get('name').hasError('required')">
                                    Food Truck Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addFoodTruckForm.get('name').hasError('maxlength') &&
                              !addFoodTruckForm.get('name').hasError('required')">
                                    Food Truck Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>


                        </div>
                        <!-- 
                        <div class="form-group col-md-12">


                            <mat-form-field class="example-full-width">
                                <mat-label>Malay Name of the Food Truck<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Malay Category Name" formControlName="name_ar"
                                    name="name_ar">
                                <mat-error *ngIf="addFoodTruckForm.get('name_ar').hasError('required')">
                                    Malay Category Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addFoodTruckForm.get('name_ar').hasError('maxlength') &&
                              !addFoodTruckForm.get('name_ar').hasError('required')">
                                    Malay Category Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div> -->

                        <div class="form-group col-md-12">



                            <mat-form-field class="example-full-width">
                                <mat-label>Food Truck number<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Food Truck Number"
                                    formControlName="vehicleNumber" name="commission">
                                <mat-error *ngIf="addFoodTruckForm.get('vehicleNumber').hasError('required')">
                                    Food Truck numberis <strong>required</strong>
                                </mat-error>

                            </mat-form-field>
                        </div>


                    </div>
                </form>
                <div class="model_buttons">
                    <button class="mat-raised-button thm_color mr-3" data-dismiss="modal" (click)="onAddFoodTruck()">
                        Save
                    </button>
                    <button class="mat-raised-button btn_grey" (click)="cancelClicked() "
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Edit Food Truck Form -->
<div id="edit_truck" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div> -->
            <div class="modal-body">
                <h3> Edit Food Truck</h3>
                <form [formGroup]="editFoodTruckForm">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <!-- <label for="title">Name of the Category</label>
                            <div class="input-group">
                                <input class="form-control" type="text" value="" name="name" formControlName="name">
                            </div>
                            <div *ngIf="submitted && addFoodTruckForm.controls.name.errors" class="invalid-feedback">
                                <div *ngIf="addFoodTruckForm.controls.name.errors.required">
                                    Category Name is required.
                                </div>
                                <div *ngIf="addFoodTruckForm.controls.name.errors.pattern">
                                    Category Name is not valid.
                                </div>
                                <div *ngIf="addFoodTruckForm.controls.name.errors.maxlength">
                                    Category Name should be max 25 characters long.
                                </div>
                            </div> -->

                            <mat-form-field class="example-full-width">
                                <mat-label>Name of the Food Truck<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Food Truck Name" formControlName="name"
                                    name="password">
                                <mat-error *ngIf="editFoodTruckForm.get('name').hasError('required')">
                                    Food Truck Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" editFoodTruckForm.get('name').hasError('maxlength') &&
                              !editFoodTruckForm.get('name').hasError('required')">
                                    Food Truck Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>


                        </div>
                        <!-- 
                        <div class="form-group col-md-12">


                            <mat-form-field class="example-full-width">
                                <mat-label>Malay Name of the Food Truck<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Malay Category Name" formControlName="name_ar"
                                    name="name_ar">
                                <mat-error *ngIf="addFoodTruckForm.get('name_ar').hasError('required')">
                                    Malay Category Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addFoodTruckForm.get('name_ar').hasError('maxlength') &&
                              !addFoodTruckForm.get('name_ar').hasError('required')">
                                    Malay Category Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div> -->

                        <div class="form-group col-md-12">



                            <mat-form-field class="example-full-width">
                                <mat-label>Food Truck number<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Food Truck Number"
                                    formControlName="vehicleNumber" name="commission">
                                <mat-error *ngIf="editFoodTruckForm.get('vehicleNumber').hasError('required')">
                                    Food Truck numberis <strong>required</strong>
                                </mat-error>

                            </mat-form-field>
                        </div>


                    </div>
                </form>
                <div class="model_buttons">
                    <button class="mat-raised-button thm_color mr-3" data-dismiss="modal" (click)="onEditFoodTruck()">
                        Save
                    </button>
                    <button class="mat-raised-button btn_grey" (click)="cancelClicked() "
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>