<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Vendor Management</h1>
                    <div class="top_subheading_add">
                        <a (click)="goToaddVender()"><span>+</span>Add Vendor</a>

                        <a style="margin-left: 1em;" (click)="back()">Go Back</a>


                    </div>

                </div>
                <div class="outer_table">
                    <div class="search_fields">
                        <div class="filters Booking_status">
                            <label>Filter</label>
                            <select [(ngModel)]="filterBy" (change)="filterSelected($event)">
                                <option *ngIf="flag==true" value="">Remove Filter</option>
                                <option *ngIf="flag==false" value=""></option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                        <div class="search_inner_fiels">
                            <div class="filters Booking_status">
                                <label>Search</label>
                                <div class="search_with_icons">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" [(ngModel)]="search" name="search" placeholder="">
                                    </mat-form-field>
                                    <i *ngIf="flagSearch==true" class="fa fa-search" aria-hidden="true"
                                        (click)="searchMethod()"></i>
                                    <i *ngIf="flagSearch==false" class="fa fa-times" aria-hidden="true"
                                        (click)="clearSearch()"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table>
                            <tr>
                                <th>Sr.no</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone Number </th>
                                <th>Email ID</th>
                                <th>Category and Sub Category Allocated</th>
                                <th>Status </th>
                                <th>Date of Joining</th>
                                <th>VAT Number</th>
                                <th>BRN Number</th>
                                <th>Product List</th>
                                <th>Total number of order</th>
                                <th>Total revenue generated</th>

                                <th class="action_bx">Action</th>
                            </tr>
                            <tr *ngFor="let item of vendorList; index as i ">
                                <td *ngIf="flagUserList==false">{{i+1}}</td>
                                <td *ngIf="flagUserList==true">{{srNo+i+1}}</td>
                                <td>{{item.firstName}} {{item.lastName}}</td>
                                <td>{{item.address}},{{item.city}},{{item.state}},{{item.country}}</td>
                                <td>{{item.countryCode}}-{{item.phone}}</td>
                                <td>{{item.email}}</td>
                                <td class="Booking_status" (click)="goToViewCategory(item._id, item.firstName)"><a
                                        class="accept_button">View Category</a>
                                </td>
                                <td>
                                    <span>{{item.status==0?"Inactive":"Active"}}</span>

                                </td>
                                <td>{{item.createdAt | date}}</td>
                                <td>{{item.vatNumber}}</td>
                                <td>{{item.brnNumber}}</td>
                                <td class="Booking_status" (click)="goToproduct(item._id)">
                                    <a class="accept_button">View List</a></td>
                                <td>{{item.totalOrders}}</td>
                                <td>{{item.totalRevenue}}</td>
                                <td>
                                    <div class="action">
                                        <ul>
                                            <!-- <li class="show" (click)="goToviewVendor()"><i class="fa fa-eye"></i></li>
                                        <li class="edit" (click)="goToeditVendor()"><i class="fa fa-pencil fa-fw"></i></li> -->
                                            <li class="delete" (click)="deleteVendor(i)"><i
                                                    class="fa fa-trash-o fa-fw"></i></li>
                                        </ul>
                                    </div>
                                </td>
                        </table>
                    </div>
                </div>
                <!-----start pagination-->
                <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="pageEvent = vendorListAfterPageSizeChanged($event)">
                </mat-paginator>
                <!-----end pagination-->

            </div>
        </div>
    </div>
</div>