<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Vendor Management</h1>
                    <div class="input_divs2 input_button ">
                        <!-- <button mat-button>Add Vendor</button>
                        <button class="btn_back" mat-button>Download CSV</button> -->

                        <!-- <button class="btn_back" mat-button (click)="back()"><i class="fa fa-long-arrow-left"
                                aria-hidden="true"></i></button>  -->
                    </div>
                    <!-- <div class="top_subheading_add">
                        <button class="btn_back" mat-button>Add </button>
                    </div> -->
                    <div class="top_subheading_add ">
                        <button mat-button matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20"
                            (click)="goToaddVender()">Add Vendor</button>
                        <button (click)="downloadCsv()" class="btn_back ml-2" matRipple [matRippleColor]="'#9e8221'"
                            [matRippleRadius]="20" mat-button>Download CSV</button>
                    </div>

                </div>
                <div class="outer_table">
                    <div class="search_fields">
                        <div class="filters Booking_status">
                            <mat-form-field class="example-full-width">
                                <mat-label>Filter<span class="red">*</span></mat-label>

                                <mat-select placeholder="Filter" [(ngModel)]="filterBy"
                                    (selectionChange)="filterSelected($event)">
                                    <mat-option *ngIf="flag==true" value="">
                                        Remove Filter
                                    </mat-option>

                                    <mat-option value="active">
                                        Active
                                    </mat-option>
                                    <mat-option value="inactive">
                                        Inactive
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="filters Booking_status pl-3">
                            <mat-form-field class="example-full-width">
                                <mat-label>Vendor Approval</mat-label>

                                <mat-select placeholder="Filter" [(ngModel)]="isApproved"
                                    (selectionChange)="approvedSelected($event)">
                                    <mat-option *ngIf="flagapproval==true" value="">
                                        Remove Filter
                                    </mat-option>

                                    <mat-option value="1">
                                        Approved
                                    </mat-option>
                                    <mat-option value="0">
                                        not Approved
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="search_inner_fiels">
                            <div class="filters Booking_status">
                                <div class="search_with_icons">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Search</mat-label>

                                        <input matInput type="text" [(ngModel)]="search" placeholder="">
                                    </mat-form-field>
                                    <button mat-button matSuffix mat-icon-button> <i *ngIf="flagSearch==true"
                                            class="fa fa-search" aria-hidden="true" (click)="searchMethod()"></i>
                                        <i *ngIf="flagSearch==false" class="fa fa-times" aria-hidden="true"
                                            (click)="clearSearch()"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="loader_bg" *ngIf="progress">
                        <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#ffa200 ;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="noDataFound">
                        <p style="font-size: 40px; font-family: sans-serif;"> No Data Found </p>
                    </div>

                    <div *ngIf="!progress && !noDataFound" class="table-responsive divAboveTable">
                        <table>
                            <tr>
                                <th>Sr.no</th>
                                <th>Image</th>
                                <th>Name</th>
                                <th>Gender</th>
                                <th>Phone Number </th>
                                <th>Email ID</th>
                                <!-- <th>Category</th> -->
                                <th>Status </th>
                                <th>Date of Joining</th>
                                <!-- <th>Product List</th> -->
                                <th>Total number of order</th>
                                <th>Total revenue generated</th>
                                <th>Last 4 digit of DL</th>
                                <th class="action_bx">Action</th>
                            </tr>
                            <tr *ngFor="let item of vendorList; index as i ">
                                <td *ngIf="flagUserList==false">{{i+1}}</td>
                                <td *ngIf="flagUserList==true">{{srNo+i+1}}</td>
                                <td>
                                    <figure>
                                        <img [src]="imageUrl+item.profilePic" height="50px" width="50px" alt="">
                                    </figure>
                                </td>
                                <td>{{item.fullName}}</td>
                                <td>{{item.gender==='M'?"Male":"Female"}}</td>
                                <td>{{item.countryCode}}-{{item.phone}}</td>
                                <td>{{item.email}}</td>
                                <!-- <td class="Booking_status" data-toggle="modal" style="margin-left:25px ;"
                                    href="javascript:;" (click)="goToViewCategory(item.categories)"
                                    data-target="#EditSubcategory"><button mat-button class="accept_button">View
                                    </button>

                                </td> -->
                                <td>
                                    <div class="enable_disable">
                                        <mat-slide-toggle (change)="changeUserStatus(item._id,item.status)"
                                            [checked]="item.status=='1'? true:false"></mat-slide-toggle>
                                    </div>
                                </td>
                                <td>{{item.createdAt | date}}</td>
                                <!-- <td class="Booking_status" (click)="goToproduct(item._id)">
                                    <button mat-button class="accept_button">View</button></td> -->
                                <td>{{item.totalOrders}}</td>
                                <td>{{item.totalRevenue}}</td>
                                <td>
                                    {{item?.last4Digits}}
                                </td>
                                <td>
                                    <div class="action">
                                        <ul *ngIf="item.sellerProfileStatus==1">
                                            <li class="show" (click)="goToviewVendor(item._id)"><i
                                                    class="fa fa-eye"></i></li>

                                            <li class="edit" (click)="goToeditVendor(item._id)"><i
                                                    class="fa fa-pencil fa-fw"></i></li>
                                            <li class="delete" (click)="deleteVendor(item._id)"><i
                                                    class="fa fa-trash-o fa-fw"></i></li>
                                        </ul>
                                        <ul *ngIf="item.sellerProfileStatus ==0 || item.sellerProfileStatus ==2">
                                            <li class="show" (click)="acceptVendor(item._id)"><i
                                                    class="fa fa-check"></i></li>
                                            <li class="edit" (click)="declinedVendor(item._id)"><i
                                                    class="fa fa-times fa-fw"></i></li>

                                        </ul>

                                    </div>
                                </td>
                        </table>
                    </div>
                </div>
                <!-----start pagination-->
                <mat-paginator *ngIf="!noDataFound" [length]="length" [pageSize]="pageSize"
                    [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = vendorListAfterPageSizeChanged($event)">
                </mat-paginator>
                <!-----end pagination-->

            </div>
        </div>
    </div>
</div>


<!-- Edit Sub-category -->
<div id="EditSubcategory" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <h3>Category List</h3>
                <ul>
                    <li *ngFor="let item of selectedCategory; let i=index">
                        {{i+1}} {{item}}
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>