<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Category</h1>
                    <div class="input_divs2 input_button input_button2">
                        <!-- <button class="btn_back" mat-button (click)="back()"><i class="fa fa-long-arrow-left"
                                aria-hidden="true"></i></button> -->
                    </div>
                    <!-- <div class="top_subheading_add">
                   <a (click)="goTosubcategory()"><span>+</span>Sub Category</a>
                   <a (click)="goToaddcategory()"><span>+</span>Add Category</a>
                   </div> -->
                </div>
                <!-- <div class="content_sec_comman">
                    <div class="content_wrap">
                        <div class="outer_loaction">
                            <div class="location_name">
                      
                            </div>

                            <div class="add_location_name">
                                <a href="javascript:;" matRipple [matRippleColor]="'#dbdddf'" [matRippleRadius]="50"
                                    class="button-border add_state" data-toggle="modal" data-target="#Add_State">
                                    <i class="fa fa-plus"></i> Add Category</a>
                            </div>
                      
                            <div class="state-list button-border" *ngFor="let category of categories; let i=index">
                                <div class="state">
                                    <div class="country_name">
                                        <figure><img src={{imageUrl+category.image}}></figure>
                                        <span>
                                            <b>{{ i+1 }}. {{ category.name }} </b>
                                            <p>Commission:{{category.commission}}</p>
                                        </span>

                                        <a href="javascript:;" data-toggle="modal" data-target="#Add_State_delete">
                                            <i class="fa fa-edit" (click)="editCategory(category._id)"></i>
                                        </a>

                                        <a href="javascript:;">
                                            <i class="fa fa-trash" (click)="deleteCategory(category._id)"></i>
                                        </a>


                                       
                                    </div>
                                    <div class="mobille_list">
                                        <ul>
                                            <li *ngFor="let subcategory of category.subCatList; let j=index ">
                                                <span class="sub_category_image">
                                                    <figure><img src={{imageUrl+subcategory.image}}></figure>
                                                </span> <span>{{j+1}}. {{subcategory.name}}</span>
                                                <a style="margin-left:25px ;" href="javascript:;" data-toggle="modal"
                                                    data-target="#EditSubcategory">
                                                    <i class="fa fa-edit"
                                                        (click)="editSubCategory(subcategory._id)"></i>
                                                </a>

                                                <a style="margin-left: 20px;" href="javascript:;">
                                                    <i class="fa fa-trash"
                                                        (click)="deleteSubcategory(subcategory._id)"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="state-list state-list-li">

                                        <div class="actions">
                                            <a href="javascript:;" matRipple [matRippleColor]="'#dbdddf'"
                                                [matRippleRadius]="50" class="button-pad add_city" data-toggle="modal"
                                                data-target="#Add_city" (click)="onAddSubCategoryBtn(category._id)">
                                                <i class="fa fa-plus"></i>
                                                Add New Sub Category </a>
                                        </div>
                                    </div>
                                  
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div> -->

                <!-----start pagination-->
                <mat-accordion>
                    <div *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.category.write==true)"
                        class="add_location_name">
                        <a href="javascript:;" matRipple [matRippleColor]="'#dbdddf'" [matRippleRadius]="50"
                            class="button-border add_state" (click)="clearData()" data-toggle="modal"
                            data-target="#Add_State">
                            <i class="fa fa-plus"></i> Add Category</a>
                    </div>
                    <mat-expansion-panel hideToggle *ngFor="let category of categories; let i=index" class="p-3">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="country_name">
                                    <figure><img src={{imageUrl+category.image}}></figure>
                                    <span>
                                        <b>{{ i+1 }}. {{ category.name }} </b>
                                        <p>Commission:{{category.commission}}</p>
                                    </span>



                                    <!-- <a href="javascript:;">
                                            <i class="fa fa-compress" aria-hidden="true"></i>
                                        </a> -->
                                </div>
                            </mat-panel-title>
                            <mat-panel-description>
                                <div *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.category.write==true)"
                                    class="m-3">
                                    <a href="javascript:;" class="p-4" data-toggle="modal"
                                        data-target="#Add_State_delete">
                                        <i class="fa fa-edit" (click)="editCategory(category._id)"></i>
                                    </a>

                                    <!-- <a href="javascript:;" data-toggle="modal" data-target="#Add_city">
                                            <i class="fa fa-plus"></i>
                                        </a> -->
                                    <a href="javascript:;">
                                        <i class="fa fa-trash" (click)="deleteCategory(category._id)"></i>
                                    </a>
                                </div>
                            </mat-panel-description>
                        </mat-expansion-panel-header>


                        <div class="mobille_list">
                            <p *ngIf="category.subCatList.length>0">Sub-category list</p>
                            <ul>
                                <li *ngFor="let subcategory of category.subCatList; let j=index ">
                                    <span class="sub_category_image">
                                        <figure><img src={{imageUrl+subcategory.image}}></figure>
                                    </span> <span>{{j+1}}. {{subcategory.name}}</span>
                                    <div *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.category.write==true)">

                                        <a style="margin-left:25px ;" href="javascript:;" data-toggle="modal"
                                            data-target="#EditSubcategory">
                                            <i class="fa fa-edit" (click)="editSubCategory(subcategory._id)"></i>
                                        </a>

                                        <a style="margin-left: 20px;" href="javascript:;">
                                            <i class="fa fa-trash" (click)="deleteSubcategory(subcategory._id)"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="state-list state-list-li">

                            <div *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.category.write==true)" class="actions">
                                <a href="javascript:;" matRipple [matRippleColor]="'#dbdddf'" [matRippleRadius]="50"
                                    class="button-pad add_city" data-toggle="modal" data-target="#Add_city"
                                    (click)="onAddSubCategoryBtn(category._id)">
                                    <i class="fa fa-plus"></i>
                                    Add New Sub Category </a>
                            </div>
                        </div>
                    </mat-expansion-panel>

                </mat-accordion>

                <!-----end pagination-->
            </div>
        </div>
    </div>
</div>

<!-- Modal define loaction add state  -->
<div id="Add_State" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div> -->
            <div class="modal-body">
                <h3> Add Category</h3>
                <form [formGroup]="addCategoryForm">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <!-- <label for="title">Name of the Category</label>
                            <div class="input-group">
                                <input class="form-control" type="text" value="" name="name" formControlName="name">
                            </div>
                            <div *ngIf="submitted && addCategoryForm.controls.name.errors" class="invalid-feedback">
                                <div *ngIf="addCategoryForm.controls.name.errors.required">
                                    Category Name is required.
                                </div>
                                <div *ngIf="addCategoryForm.controls.name.errors.pattern">
                                    Category Name is not valid.
                                </div>
                                <div *ngIf="addCategoryForm.controls.name.errors.maxlength">
                                    Category Name should be max 25 characters long.
                                </div>
                            </div> -->

                            <mat-form-field class="example-full-width">
                                <mat-label>Name of the Category<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Category Name" formControlName="name"
                                    name="password">
                                <mat-error *ngIf="addCategoryForm.get('name').hasError('required')">
                                    Category Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addCategoryForm.get('name').hasError('maxlength') &&
                              !addCategoryForm.get('name').hasError('required')">
                                    Category Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>


                        </div>

                        <div class="form-group col-md-12">


                            <mat-form-field class="example-full-width">
                                <mat-label>Malay Name of the Category<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Malay Category Name" formControlName="name_ar"
                                    name="name_ar">
                                <mat-error *ngIf="addCategoryForm.get('name_ar').hasError('required')">
                                    Malay Category Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addCategoryForm.get('name_ar').hasError('maxlength') &&
                              !addCategoryForm.get('name_ar').hasError('required')">
                                    Malay Category Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-12">



                            <mat-form-field class="example-full-width">
                                <mat-label>Commission percentage of the Category<span class="red">*</span></mat-label>
                                <input matInput type="number" placeholder="Commission" formControlName="commission"
                                    name="commission">
                                <mat-error *ngIf="addCategoryForm.get('commission').hasError('required')">
                                    Commission is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addCategoryForm.get('commission').hasError('maxlength') &&
                              !addCategoryForm.get('commission').hasError('required')">
                                    Commission should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="title">Add Image</label>
                            <div class="user_img">
                                <figure *ngIf="newImage">
                                    <img style="height: 50px;width: 50px" [src]="categoryImage" />
                                </figure>
                            </div>
                            <div class="input-group">
                                <input class="form-control file" type="file" accept="image/*"
                                    (change)="profilePic($event)" formControlName="image" name="image">
                            </div>
                            <div *ngIf="submitted && !image" class="invalid-feedback">
                                Image is required.
                            </div>
                        </div>
                    </div>
                </form>
                <div class="model_buttons">
                    <button class="mat-raised-button thm_color mr-3" data-dismiss="modal" (click)="onAddCategory()">
                        Save
                    </button>
                    <button class="mat-raised-button btn_grey" (click)="cancelClicked() "
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal define loaction add state -->

<!-- Modal define loaction edit state  -->
<div id="Add_State_delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div> -->
            <div class="modal-body">
                <h3> Edit Category</h3>
                <form [formGroup]="editCategoryForm">
                    <div class="row">
                        <div class="form-group col-md-12">


                            <mat-form-field class="example-full-width">
                                <mat-label>Name of the Category<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Category Name" formControlName="name"
                                    name="password">
                                <mat-error *ngIf="editCategoryForm.get('name').hasError('required')">
                                    Category Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" editCategoryForm.get('name').hasError('maxlength') &&
                              !editCategoryForm.get('name').hasError('required')">
                                    Category Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="form-group col-md-12">


                            <mat-form-field class="example-full-width">
                                <mat-label>Malay Name of the Category<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Malay Category Name" formControlName="name_ar"
                                    name="name_ar">
                                <mat-error *ngIf="editCategoryForm.get('name_ar').hasError('required')">
                                    Malay Category Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" editCategoryForm.get('name_ar').hasError('maxlength') &&
                              !editCategoryForm.get('name_ar').hasError('required')">
                                    Malay Category Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-12">

                            <mat-form-field class="example-full-width">
                                <mat-label>Commission percentage of the Category<span class="red">*</span></mat-label>
                                <input matInput type="number" placeholder="Commission" formControlName="commission"
                                    name="commission">
                                <mat-error *ngIf="editCategoryForm.get('commission').hasError('required')">
                                    Commission is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" editCategoryForm.get('commission').hasError('maxlength') &&
                              !editCategoryForm.get('commission').hasError('required')">
                                    Commission should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="title">Add Image</label>
                            <div class="user_img">
                                <figure *ngIf="flagImage==false">
                                    <img style="height: 50px;width: 50px" [src]="imageUrl+image" />
                                </figure>
                                <figure *ngIf="flagImage==true">
                                    <img style="height: 50px;width: 50px" [src]="previewImage" />
                                </figure>
                            </div>
                            <div class="input-group">
                                <input class="form-control file" id="editCategoryImage" type="file" accept="image/*"
                                    (change)="profilePic($event)" name="imageFile" formControlName="image">
                            </div>
                            <div *ngIf="submitted && !image" class="invalid-feedback">
                                Image is required.
                            </div>
                        </div>
                    </div>
                </form>
                <div class="model_buttons">
                    <button class="mat-raised-button thm_color mr-3" data-dismiss="modal" (click)="onUpdateCategory()">
                        Update
                    </button>
                    <button class="mat-raised-button btn_grey" (click)="cancelClicked()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal define loaction edit state -->

<!-- Modal define loaction edit state  -->
<div id="Add_city" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div> -->
            <div class="modal-body">
                <h3>Add New SubCategory</h3>
                <form [formGroup]="addSubcategoryForm">
                    <div class="row">
                        <div class="form-group col-md-12">

                            <mat-form-field class="example-full-width">
                                <mat-label>Name of the SubCategory<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Sub-Category Name" formControlName="name"
                                    name="password">
                                <mat-error *ngIf="addSubcategoryForm.get('name').hasError('required')">
                                    SubCategory Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addSubcategoryForm.get('name').hasError('maxlength') &&
                              !addSubcategoryForm.get('name').hasError('required')">
                                    SubCategory Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">


                            <mat-form-field class="example-full-width">
                                <mat-label>Malay Name of the SubCategory<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Sub-Category Name" formControlName="name_ar"
                                    name="password">
                                <mat-error *ngIf="addSubcategoryForm.get('name_ar').hasError('required')">
                                    Malay SubCategory Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addSubcategoryForm.get('name_ar').hasError('maxlength') &&
                              !addSubcategoryForm.get('name').hasError('required')">
                                    Malay SubCategory Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="title">Add Image</label>
                            <div class="user_img">
                                <figure *ngIf="flagImage">
                                    <img style="height: 50px;width: 50px" [src]="subCategoryImage" />
                                </figure>
                            </div>
                            <div class="input-group">
                                <input class="form-control file" id="subcategoryImage" type="file" accept="image/*"
                                    (change)="subCategoryPic($event)" name="image" formControlName="image">
                            </div>
                            <div *ngIf="submitted && !subCategoryImage" class="invalid-feedback">
                                Image is required.
                            </div>
                        </div>
                    </div>

                </form>
                <div class="model_buttons">
                    <button class="mat-raised-button thm_color mr-3" data-dismiss="modal" (click)="onAddSubCategory()">
                        Save
                    </button>
                    <button class="mat-raised-button btn_grey" (click)="cancelClicked()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal define loaction edit state -->


<!-- Edit Sub-category -->
<div id="EditSubcategory" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div> -->
            <div class="modal-body">
                <h3>Edit SubCategory</h3>
                <form [formGroup]="editSubcategoryForm">
                    <div class="row">
                        <div class="form-group col-md-12">

                            <mat-form-field class="example-full-width">
                                <mat-label>Name of the SubCategory<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Sub-Category Name" formControlName="name"
                                    name="password">
                                <mat-error *ngIf="editSubcategoryForm.get('name').hasError('required')">
                                    SubCategory Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" editSubcategoryForm.get('name').hasError('maxlength') &&
                              !editSubcategoryForm.get('name').hasError('required')">
                                    SubCategory Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">


                            <mat-form-field class="example-full-width">
                                <mat-label>Malay Name of the SubCategory<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Sub-Category Name" formControlName="name_ar"
                                    name="password">
                                <mat-error *ngIf="editSubcategoryForm.get('name_ar').hasError('required')">
                                    Malay SubCategory Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" editSubcategoryForm.get('name_ar').hasError('maxlength') &&
                              !addCategoryForm.get('name').hasError('required')">
                                    Malay SubCategory Name should be max 25 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="title">Add Image</label>
                            <div class="user_img">
                                <figure *ngIf="flagImage">
                                    <img style="height: 50px;width: 50px" [src]="subCategoryImage" />
                                </figure>
                                <figure *ngIf="!flagImage">
                                    <img style="height: 50px;width: 50px" [src]="imageUrl+subCategoryImage" />
                                </figure>
                            </div>
                            <div class="input-group">
                                <input class="form-control file" id="subcategoryImage" type="file" accept="image/*"
                                    (change)="subCategoryPic($event)" name="image" formControlName="image">
                            </div>
                            <div *ngIf="submitted && !subCategoryImage" class="invalid-feedback">
                                Image is required.
                            </div>
                        </div>
                    </div>

                </form>
                <div class="model_buttons">
                    <button class="mat-raised-button thm_color mr-3" data-dismiss="modal" (click)="updateSubcategory()">
                        Save
                    </button>
                    <button class="mat-raised-button btn_grey" (click)="cancelClicked()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader_bg" *ngIf="progress">
    <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#ffa200 ;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>