 button.btn-primary {
       padding: 9px 30px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 4px;
    text-transform: capitalize;
    color: #000;
    background: #feee00;
    border: none;
}