<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Manage Reviews</h1>
                </div>
                <div class="outer_table">
                <div class="search_fields">
                    <div class="filters Booking_status">
                        <label>Filter</label>
                        <select>
                            <option>All</option>
                            <option>Name</option>
                        </select>
                    </div>
                    <div class="search_inner_fiels">
                        <div class="filters Booking_status">
                            <label>Search</label>
                            <div class="search_with_icons">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" name="search" placeholder="">
                                </mat-form-field>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="table-responsive">
                    <table>
                        <tr>
                            
                            <th>User Name</th>
                            <th>User Email</th>
                            <th>Review </th>
                            <th>Product Name</th>
                            <th>Vendor name</th>
                            <th>Action</th>
                        </tr>
                        <tr>
                            
                            <td>John</td>
                            <td>John@gmail.com</td>
                          
                            <td>4.5</td>
                            <td>Lorem</td>
                            <td>XYZ</td>
                            <td>
                                <div class="action">
                                    <ul>
                                        <li class="delete"><i class="fa fa-trash-o fa-fw"></i></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                           
                            <td>John</td>
                            <td>John@gmail.com</td>
                          
                            <td>4.5</td>
                            <td>Lorem</td>
                            <td>XYZ</td>
                            <td>
                                <div class="action">
                                    <ul>
                                        <li class="delete"><i class="fa fa-trash-o fa-fw"></i></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            
                            <td>John</td>
                            <td>John@gmail.com</td>
                         
                            <td>4.5</td>
                            <td>Lorem</td>
                            <td>XYZ</td>
                            <td>
                                <div class="action">
                                    <ul>
                                        <li class="delete"><i class="fa fa-trash-o fa-fw"></i></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                           
                            <td>John</td>
                            <td>John@gmail.com</td>
                           
                            <td>4.5</td>
                            <td>Lorem</td>
                            <td>XYZ</td>
                            <td>
                                <div class="action">
                                    <ul>
                                        <li class="delete"><i class="fa fa-trash-o fa-fw"></i></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                </div>
                <!-----start pagination-->
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
                <!-----end pagination-->

            </div>
        </div>
    </div>
</div>