<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <div class="company_logo">
        <figure>
            <img src="../../assets/images/logo.png" alt="">
        </figure>
    </div>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>

        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1 notification_nav">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="166.938" height="217.193" viewBox="0 0 166.938 217.193">
                    <g id="Group_4" data-name="Group 4" transform="translate(-359.225 -371.33)">
                        <path id="Path_10" data-name="Path 10"
                            d="M523.663,554.665H361.725c.274-4.4,5.752-11.571,9.687-12.647a8.3,8.3,0,0,1,2.144-.089q38.033,0,76.063,0c.718,0,1.438.023,2.154-.022,2.588-.16,4.272-1.785,4.34-4.155a4.3,4.3,0,0,0-4.026-4.495,18.47,18.47,0,0,0-2.366-.059q-36.093,0-72.185,0h-2.912c0-.781,0-1.464,0-2.146,0-21.691-.241-43.386.078-65.073.386-26.268,11.965-46.6,34.948-59.271,22.023-12.141,44.677-11.583,66.473,1.171,17.5,10.242,28.014,25.766,31.754,45.7a74.236,74.236,0,0,1,1.114,13.275q.16,34.152.007,68.3c-.012,3.21,1.1,5.174,4.074,6.545C518.58,544.238,522.045,548.627,523.663,554.665Zm-55.146-21.448a4.408,4.408,0,0,0-4.4,4.142,4.336,4.336,0,0,0,4.2,4.533,4.415,4.415,0,0,0,4.445-4.108A4.544,4.544,0,0,0,468.517,533.217Z"
                            fill="#ffcb08" stroke="#1c1c20" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="5" stroke-dasharray="620" />
                        <path id="Path_11" data-name="Path 11"
                            d="M422.038,561.609c5.555,0,11.181,0,16.807,0,7.259,0,14.518.018,21.776-.032,1.774-.012,2.726.41,2.8,2.472a21.216,21.216,0,0,1-13.454,20.583,20.754,20.754,0,0,1-23.646-6.442A21.522,21.522,0,0,1,422.038,561.609Z"
                            fill="#ffcb08" stroke="#1c1c20" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="5" stroke-dasharray="200" />
                        <path id="Path_12" data-name="Path 12"
                            d="M456.193,390.272H429.027c-.64-5.573.832-10.272,5.4-13.571a13.093,13.093,0,0,1,15.041-.792C454.86,378.99,456.574,383.981,456.193,390.272Z"
                            fill="#ffcb08" stroke="#1c1c20" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="5" stroke-dasharray="200" />
                    </g>
                </svg>

                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in alert_center"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Notification
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle">
                            <i  class="material-icons">info_outline</i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 12, 2019</div>
                        <span class="notification_list">New Product Added by Vendor</span>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle">
                            <i  class="material-icons">check</i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 7, 2019</div>
                        <span class="notification_list">$290.29 has been deposited into your account!</span>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle">
                            <i  class="material-icons">update</i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 2, 2019</div>
                        <span class="notification_list"> Vendor Profile is Updated</span>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" (click)="goTonotification()">Show All Notification</a>
            </div>
        </li>

        <!-- Nav Item - Messages -->
        <!-- <li class="nav-item dropdown no-arrow mx-1 message_topnav">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" width="205.647" height="176.004" viewBox="0 0 205.647 176.004">
                    <g id="Group_5" data-name="Group 5" transform="translate(-755.15 -407.5)">
                        <path id="Path_13" data-name="Path 13"
                            d="M781.577,519.447c-13.888-.027-23.912-10.036-23.919-23.915q-.017-30.794,0-61.588c.009-13.842,10.1-23.936,23.928-23.938q58.324-.011,116.65,0a23.19,23.19,0,0,1,23.667,23.587q.034,31.1-.017,62.2a25.332,25.332,0,0,1-.511,5.26c-2.372,11-11.591,18.364-23.035,18.385-18.9.034-37.795-.034-56.692.076a11.183,11.183,0,0,0-5.951,1.509c-9.148,6.238-18.115,12.741-27.147,19.149q-7.813,5.543-15.639,11.07c-1.582,1.119-3.3,1.761-5.131.754-1.747-.96-2.165-2.631-2.073-4.539.142-2.987.241-5.978.259-8.968.039-6.243.012-12.487.012-19.039C784.682,519.448,783.13,519.451,781.577,519.447ZM899.2,435.5h-119m0,30h119m-119,30h79"
                            fill="#ffcb08" stroke="#1c1c20" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="5" stroke-dasharray="450" />
                        <path id="Path_14" data-name="Path 14"
                            d="M934.435,554.306a65.05,65.05,0,0,0,8-.6,19.354,19.354,0,0,0,15.8-19.126q.114-26-.008-52.009a19.57,19.57,0,0,0-19.689-19.516c-2.7-.026-5.4,0-8.332,0v2.391c0,10.2.023,20.4-.005,30.594a31.484,31.484,0,0,1-31.829,31.812q-27.842.023-55.681-.026a9.066,9.066,0,0,0-5.8,1.844c-4.68,3.49-9.505,6.786-14.446,10.284,2.473,6.925,7.157,11.394,14.257,13.192a23.481,23.481,0,0,0,5.656.534q22.64.062,45.279,0a10.792,10.792,0,0,1,6.627,2.132q16.7,12.039,33.5,23.952c2.737,1.951,5.274,1.583,6.51-1.025a6.928,6.928,0,0,0,.5-2.957c-.071-6.594-.21-13.187-.324-19.781C934.427,555.471,934.435,554.941,934.435,554.306Z"
                            fill="#ffcb08" stroke="#1c1c20" stroke-linecap="round" stroke-linejoin="round"
                            stroke-width="5" stroke-dasharray="360" />
                    </g>
                </svg>

               
                <span class="badge badge-danger badge-counter">7</span>
            </a>
           
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in message_center"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                            having.</div>
                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">I have the photos that you ordered last month, how would you like
                            them sent to you?</div>
                        <div class="small text-gray-500">Jae Chun · 1d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so
                            far, keep up the good work!</div>
                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that
                            people say this to all dogs, even if they aren't good...</div>
                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
        </li> -->

        <div class="topbar-divider d-none d-sm-block"></div>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in top_header_profile"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" (click)="goToprofile()">
                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item"  (click)="goTochangepassword()">
                    <i class="fa fa-lock fa-sm fa-fw mr-2 text-gray-400"></i>
                    Change Password 
                </a>
                <!-- <a class="dropdown-item" href="#">
                    <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a> -->
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" (click)="goTologin()">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>
        <!-- <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle language_box" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-ae" viewBox="0 0 640 480">
                    <path fill="#00732f" d="M0 0h640v160H0z" />
                    <path fill="#fff" d="M0 160h640v160H0z" />
                    <path d="M0 320h640v160H0z" />
                    <path fill="red" d="M0 0h220v480H0z" />
                </svg>
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">UAE</span>
            </a>
            
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in top_header_profile"
                aria-labelledby="userDropdown">
                <a class="dropdown-item language_dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" id="flag-icon-css-ae" viewBox="0 0 640 480"
                        style="width:20px;margin-right: 7px;">
                        <path fill="#00732f" d="M0 0h640v160H0z" />
                        <path fill="#fff" d="M0 160h640v160H0z" />
                        <path d="M0 320h640v160H0z" />
                        <path fill="red" d="M0 0h220v480H0z" />
                    </svg>
                    UAE
                </a>

            </div>
        </li> -->
    </ul>
</nav>
<!-- End of Topbar -->