<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Edit Sub-Category</h1>
                    <div class="top_subheading_add">
                        <a (click)="goTosubcategory()">Back To List</a>
                    </div>
                </div>
                <div class="flex_subcategory">
               <div class="add_user_list">
                    <ul>
                        <li>
                            <label>Sub Category Name<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="Category Name" name="name" value="Test">
                            </mat-form-field>
                        </li>
                         <li> 
                             <div class="edit_cateimage_box">
                        <div class="border">
                            <figure class="ipload_img_vehicle">
                            <!-- <img src="../../images/ga"> -->
                            </figure>
                            <h5>Upload Category Image</h5>
                            <input type="file" id="file-input" class="upload_file">
                        </div>
                        <div class="added_images">
                            <div class="show_product_imges">
                                <span>
                                    <figure>
                                        <img src="../../assets/images/makeup.png" alt="">
                                    </figure>
                                </span>
                                <span>
                                    <figure>
                                        <img src="../../assets/images/makeup.png" alt="">
                                    </figure>
                                </span>


                            </div>
                        </div>
                    </div>
                        </li>
                       
                        </ul>
                        <div class="update_button">
                            <button mat-button>
                                Update
                            </button>
                            <button mat-button class="cancel_button">
                                Cancel
                            </button>
                        </div>
                        </div>
                       
                    </div>
                </div>
        </div>
    </div>
</div>