.outer_table table{width: 124%;}

select {
    padding: 5px 3px;
    }
    .filters.Booking_status select {
        padding: 8px 12px;
    }
    .sub_heading {
        margin-bottom: 0rem;
    }