<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>View Sale</h1>
                    <a (click)="goToordermanagement()">Back To List</a>
                </div>
                <!-----start input fields------>
                <div class="add_user_list">
                    <form [formGroup]="editSaleForm">
                        <ul>
                            <li>
                                <label>Order ID<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" formControlName="orderID" name="name"
                                        readonly name="name">
                                </mat-form-field>
                            </li>
                            <li>
                                <label>Product Name<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" name="name" formControlName="productName"
                                        readonly name="name">
                                </mat-form-field>
                            </li>
                            <li>
                                <label>Product Category<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" name="name" readonly name="name"
                                        formControlName="productCategory">
                                </mat-form-field>
                            </li>
                            <li>
                                <label>Product Sub Category<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" name="name" readonly name="name"
                                        formControlName="productSubcategory">
                                </mat-form-field>
                            </li>

                            <li>
                                <label> SKU number <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" name="name" formControlName="sku"
                                        readonly>
                                </mat-form-field>
                            </li>
                            <!-- <li>
                            <label> ISBN number <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="12345" readonly name="name">
                            </mat-form-field>
                        </li> -->
                            <li>
                                <label> Quantity <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" name="name" formControlName="quantity"
                                        readonly name="name">
                                </mat-form-field>
                            </li>
                            <li>
                                <label> Price <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" name="name" formControlName="price"
                                        readonly name="name">
                                </mat-form-field>
                            </li>

                            <li>
                                <label>User name<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" readonly name="name"
                                        formControlName="userName" name="name">
                                </mat-form-field>
                            </li>
                            <li>
                                <label> Address 1 <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" readonly name="name"
                                        formControlName="userAddress1" name="name">
                                </mat-form-field>
                            </li>
                            <li>
                                <label> Address 2 <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" readonly name="name"
                                        formControlName="userAddress2" name="name">
                                </mat-form-field>
                            </li>
                            <li>
                                <label> City <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" readonly name="name"
                                        formControlName="userCity" name="name">
                                </mat-form-field>
                            </li>
                            <li>
                                <label> State <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" name="name" readonly
                                        formControlName="userState" name="name">
                                </mat-form-field>
                            </li>
                            <li>
                                <label> Postal Code <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" readonly name="name"
                                        formControlName="userPostalCode" name="name">
                                </mat-form-field>
                            </li>
                            <li>
                                <label>Order Date<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" name="name" formControlName="orderDate"
                                        readonly>
                                </mat-form-field>
                            </li>
                            <li>
                                <label>Delivery Date<span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" readonly name="name"
                                        formControlName="deliveryDate">
                                </mat-form-field>
                            </li>
                            <!-- <li>
                            <label>Status<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="pending" readonly name="name">
                            </mat-form-field>
                        </li> -->


                        </ul>
                    </form>
                    <!-- <div class="update_button">
                        <button mat-button>
                            Update
                        </button>
                        <button mat-button class="cancel_button">
                            Cancel
                        </button>
                    </div> -->
                </div>


                <!-----End input fields------>

            </div>
        </div>
    </div>
</div>