<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>View Sale</h1>
                    <a (click)="goToordermanagement()">Back To List</a>
                </div>
                <!-----start input fields------>
                <div class="add_user_list">
                    <ul>
                        <li>
                            <label>Order ID<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="ABC" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Product Name<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="ABC" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Product Category<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" disabled name="name" Value="Lorem ipsum">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Product Sub Category<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" disabled name="name" Value="Lorem ipsum">
                            </mat-form-field>
                        </li>
                   
                        <li>
                            <label> ISBN  Number <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="25252" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label> SKU  Number <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="25252" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label> Quantity <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="30" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label> Price <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="800" disabled name="name">
                            </mat-form-field>
                        </li>
                     
                        <li>
                            <label>User name<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="John" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>User Address <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="lorem ipsum" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Order Date<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="date" placeholder="" name="name" value="20-05-2020" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Delivery Date<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="date" placeholder="" name="name" value="20-05-2020" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Status<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" value="pending" disabled name="name">
                            </mat-form-field>
                        </li>
                      

                    </ul>
                    <!-- <div class="update_button">
                        <button mat-button>
                            Update
                        </button>
                        <button mat-button class="cancel_button">
                            Cancel
                        </button>
                    </div> -->
                </div>

               
                <!-----End input fields------>
                
            </div>
        </div>
    </div>
</div>