input.mat-input-element,
.mat-select {
    padding: 13px 16px;
}

.loginCheckBox {
    align-items: unset !important;
}

.remember_me {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main_heading {
    font-family: monospace;
    font-size: 48px;

    text-shadow: 2px 2px #ffa200;
}