<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Manage Earning</h1>
                    <div class="right_side_buttons">
                        <a (click)="goTopayment()">Back To List</a> 
                    </div>
                </div>
                <div class="search_fields">
                    <div class="filters Booking_status">
                        <label>Filter</label>
                        <select>
                            <option>All</option>
                            <option>Name</option>
                        </select>
                    </div>
                    <div class="search_inner_fiels">
                        <div class="filters Booking_status">
                            <label>Search</label>
                            <div class="search_with_icons">
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" name="search" placeholder="">
                                </mat-form-field>
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="table-responsive">
                    <table>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Payment Method</th>
                            <th>Received Payment</th>
                            <th>Total Earning</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Jhon</td>
                            <td>Jhon@gmail.com</td>
                            <td>12345678</td>
                            <td class="Booking_status">
                                <select>
                                    <option value="">Gateway</option>
                                    <option value="">Card</option>
                                </select>
                            </td>
                            <td>1000$</td>
                            <td>1000$</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jhon</td>
                            <td>Jhon@gmail.com</td>
                            <td>12345678</td>
                            <td class="Booking_status">
                                <select>
                                    <option value="">Gateway</option>
                                    <option value="">Card</option>
                                </select>
                            </td>
                            <td>1000$</td>
                            <td>1000$</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Jhon</td>
                            <td>Jhon@gmail.com</td>
                            <td>12345678</td>
                            <td class="Booking_status">
                                <select>
                                    <option value="">Gateway</option>
                                    <option value="">Card</option>
                                </select>
                            </td>
                            <td>1000$</td>
                            <td>1000$</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Jhon</td>
                            <td>Jhon@gmail.com</td>
                            <td>12345678</td>
                            <td class="Booking_status">
                                <select>
                                    <option value="">Gateway</option>
                                    <option value="">Card</option>
                                </select>
                            </td>
                            <td>1000$</td>
                            <td>1000$</td>
                        </tr>

                    </table>
                </div>
                <!-----start pagination-->
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
                <!-----end pagination-->

            </div>
        </div>
    </div>
</div>