<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Discounts</h1>
                    <div class="top_subheading_add">
                        <a (click)="goToaddoffers()"><span>+</span>Add Discounts</a>
                    </div>
                </div>
                <div class="outer_table">
                    <div class="search_fields">
                        <div class="filters Booking_status">
                            <label>Filter</label>
                            <select [(ngModel)]="filterBy" (change)="filterSelected($event)">
                                <option *ngIf="flag==true" value="">Remove Filter</option>
                                <option *ngIf="flag==false" value=""></option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                        </div>
                        <div class="search_inner_fiels">
                            <div class="filters Booking_status">
                                <label>Search</label>
                                <div class="search_with_icons">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" name="search" placeholder="">
                                    </mat-form-field>
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div *ngIf="flagData==true">
                        <h1>No Data Found</h1>
                    </div>
                    <div *ngIf="flagData==false" class="table-responsive">
                        <table>
                            <tr>
                                <th>Sr No</th>
                                <!-- <th>Category</th>
                                <th>Sub Category
                                </th> -->
                                <th>Product</th>
                                <th>Discount</th>
                                <th>Status</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Offer Details</th>
                                <th class="action_bx">Action</th>
                            </tr>
                            <tr *ngFor="let item of bannerList; index as i">
                                <td>{{i+1}}</td>
                                <!-- <td>Lorem</td>
                                <td>Lorem ipsum</td> -->
                                <td>{{item.name}}</td>
                                <td>{{item.discount}}%</td>
                                <td>{{item.status==0?"Inactive":"Active"}}</td>
                                <td>{{item.startDate | date}}</td>
                                <td>{{item.endDate | date}}</td>
                                <td><a href="javascript:void(0)" class="button-pad add_city" data-toggle="modal"
                                        data-target="#Add_city"><i class="fa fa-eye"></i></a>
                                    <div>

                                        <!-- Modal define loaction edit state  -->
                                        <div id="Add_city" class="modal fade" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <div class="modal-body">
                                                        <h3>{{item.offer.type}}</h3>
                                                        <table>
                                                            <tr>
                                                                <th>Sr.no</th>
                                                                <th>Image</th>
                                                                <th>Category/sub category</th>

                                                            </tr>
                                                            <tr *ngFor="let unit of item.offer['list']; index as i">

                                                                <td>{{i+1}}</td>

                                                                <td>
                                                                    <figure><img src="{{imagePath+unit.image}}">
                                                                    </figure>
                                                                </td>
                                                                <td>{{unit.name}}</td>

                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </td>

                                <td>
                                    <div class="action">
                                        <ul>
                                            <li class="show" (click)="goToviewdiscount(item._id)"><i
                                                    class="fa fa-eye"></i></li>
                                            <li class="edit" (click)="goToeditdiscount()"><i
                                                    class="fa fa-pencil fa-fw"></i></li>
                                            <li class="delete"><i class="fa fa-trash-o fa-fw"></i></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <!-----start pagination-->
                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
                <!-----end pagination-->

            </div>
        </div>
    </div>
</div>