<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>User Management</h1>
                    <!-- <div class="input_divs2 input_button input_button2">
                        <button class="btn_back" mat-button>Download CSV</button>
                    </div> -->
                    <div class="top_subheading_add">
                        <button (click)="downloadCsv()" class="btn_back" matRipple [matRippleColor]="'#9e8221'"
                            [matRippleRadius]="20" mat-button>Download CSV</button>
                    </div>
                </div>
                <div class="outer_table">
                    <div class="search_fields">
                        <div class="">

                            <mat-form-field class="example-full-width">
                                <mat-label>Filter<span class="red">*</span></mat-label>

                                <mat-select placeholder="Filter" [(ngModel)]="filterBy"
                                    (selectionChange)="filterSelected($event)">
                                    <mat-option *ngIf="flag==true" value="">
                                        Remove Filter
                                    </mat-option>
                                    <!--  <mat-option *ngIf="flag==false" value="">

                                    </mat-option> -->
                                    <mat-option value="active">
                                        Active
                                    </mat-option>
                                    <mat-option value="inactive">
                                        Inactive
                                    </mat-option>

                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="search_inner_fiels">
                            <div class="">

                                <div class="search_with_icons">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Search</mat-label>
                                        <input matInput type="text" [(ngModel)]="search" placeholder="">
                                    </mat-form-field>
                                    <button mat-button matSuffix mat-icon-button> <i *ngIf="flagSearch==true"
                                            class="fa fa-search" aria-hidden="true" (click)="searchMethod()"></i>
                                        <i *ngIf="flagSearch==false" class="fa fa-times" aria-hidden="true"
                                            (click)="clearSearch()"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <div *ngIf="flagData==true">
                            <p style="font-size: 40px; font-family: sans-serif;"> No Data Found </p>
                        </div>

                        <div class="divAboveTable" *ngIf="flagData==false">
                            <table>
                                <tr>
                                    <th>Sr.no</th>
                                    <th> Name</th>
                                    <th>User name</th>
                                    <th> Email </th>
                                    <th> Phone number</th>
                                    <th>Status</th>
                                    <th>Number of Order</th>
                                    <th>Completed Order</th>
                                    <th>Rejected Order</th>
                                    <th>Total Amount Paid</th>
                                    <th> Address </th>
                                    <th>Last order date and time</th>
                                    <th>View Purchase History</th>
                                    <th *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.users.write==true)" class="action_bx">Action</th>
                                </tr>
                                <tr *ngFor="let item of userList; index as i ">

                                    <td *ngIf="flagUserList==true">{{srNo+i+1}}</td>
                                    <td *ngIf="flagUserList==false">{{i+1}}</td>
                                    <td>{{item?.firstName}} {{item?.lastName}}</td>
                                    <td>{{item.userName}}</td>
                                    <td>{{item?.email}}</td>
                                    <td>{{item?.countryCode}}-{{item?.phone}}</td>
                                    <td>
                                        <div class="enable_disable">
                                            <mat-slide-toggle (change)="changeUserStatus(item._id,item.status)"
                                                [checked]="item.status=='1'? true:false"></mat-slide-toggle>
                                        </div>
                                    </td>
                                    <td>{{item?.totalOrders}}</td>
                                    <td>{{item?.completedOrders}}</td>
                                    <td>{{item?.rejectedOrders}}</td>
                                    <td>{{item?.totalPaid}}</td>
                                    <td>
                                        <div class="top_subheading_add">
                                            <button mat-button matRipple [matRippleColor]="'#9e8221'"
                                                [matRippleRadius]="20"
                                                (click)="goToUserAddress(item._id)"><span></span>View</button>
                                        </div>
                                    </td>
                                    <td>{{item?.lastOrderAt | date}}</td>

                                    <td><a class="request_hisrty" (click)="goTobookingRequestHistory(item._id)"><i class="fa fa-eye"></i></a></td>
                                    <td *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.users.write==true)">
                                        <div  class="action">
                                            <ul>
                                                <!-- <li class="show" (click)="goTobookingRequestHistory(i)"><i
                                                        class="fa fa-eye"></i></li> -->
                                                <li *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.users.write==true)" class="edit" (click)="goToeditUser(item._id)"><i
                                                        class="fa fa-pencil fa-fw"></i>
                                                </li>
                                                <li *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.users.write==true)" class="delete" (click)="deleteUser(item._id)"><i
                                                        class="fa fa-trash-o fa-fw"></i></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                            </table>

                        </div>
                        <!-----start pagination-->
                        <mat-paginator *ngIf="!flagData" [length]="length" [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = UserListAfterPageSizeChanged($event)">
                        </mat-paginator>
                        <!-----end pagination-->
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
<div class="loader_bg" *ngIf="progress">
    <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#ffa200 ;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>