<!-- Sidebar -->
<ul class="side_barlist">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand" href="index.html">
        <div class="sidebar-brand-icon">
            <figure><img src="../../assets/images/whitesmall_logo.png"></figure>
        </div>
        <div class="sidebar-brand-text">
            <figure><img src="../../assets/images/whitelogo.png"></figure>
        </div>
    </a>
    <!-- Nav Item - Dashboard -->
    <li rel="core1" class="nav_item active">
        <a class="nav-link">
            Co
        </a>
    </li>
    <li rel="core3" class="nav_item">
        <a class="nav-link">
            In
        </a>
    </li>
    <!-- <li rel="core7" class="nav_item">
        <a class="nav-link">
            Re
        </a>
    </li> -->
    <li rel="core4" class="nav_item">
        <a class="nav-link">
            Nt
        </a>
    </li>
    <!-- <li rel="core5" class="nav_item">
        <a class="nav-link">
            Hc
        </a>
    </li> -->
    <!-- <li rel="core6" class="nav_item">
        <a class="nav-link">
            Cr
        </a>
    </li> -->


</ul>
<div class="side_pages">
    <div id="core1" class="core active">
        <h3>Core</h3>
        <ul>
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goTodashboard()">Dashboard
            </li>
            <!-- <li (click)="goToreportpage()">Reporting</li> -->
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goTomanageUser()"
                *ngIf="roles =='admin'">User
                Management </li>

            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToProduct()">Product Management
            </li>
            <!-- *ngIf="roles =='celebrity || merchant'" -->
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goTovendermanagement()"
                *ngIf="roles =='admin'">Vendor
                Management</li>
            <!-- <li (click)="goToCelebritymanagement()" *ngIf="roles =='admin'">Celebrity Management</li> -->
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goTocategory()"
                *ngIf="roles=='admin'">Category Management</li>
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToBrand()"
                *ngIf="roles=='admin'">Raw Item Management
            </li>


            <!-- <li (click)="goTosubcategory()">Sub-Category</li> -->
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToinventry()">Inventory
                Management</li>

            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToofferdeals()">Banner
                Manegement</li>
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" [routerLink]="['/sub-adminList']" routerLinkActive="router-link-active" >Sub-Admin Management</li>
        </ul>
    </div>
    <div id="core3" class="core">
        <h3>Intel</h3>
        <ul>
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goTorevenuereport()"> Revenue
                Management </li>
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToGeofence()"> Geofence
                Management
            </li>

            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToAssignmentModule()">
                Assignment</li>

            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToEquipmentpage()">
                Equipment Management</li>

            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToordermanagement()">
                Booking
                Request </li>

            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToFoodTruckManagement()">
                Food Truck management
            </li>

            
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToPromoCodeManagement()">
                Promo Code Management
            </li>
            <!-- <li (click)="goTopayment()">Payment</li> -->
            <!--<li>Analytics</li>-->
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goToSettings()">Settings</li>
            <li  matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goTovendorSalesReport()">Vendor Request</li>
            <li matRipple [matRippleColor]="'#9e8221'" [matRippleRadius]="20" (click)="goTomanageReviews()">Reviews</li>
        </ul>
    </div>

    <div id="core4" class="core">
        <h3>Notifications</h3>
        <ul>
            <!-- <li (click)="goTowarehouse()">Warehouse</li>
            <li (click)="goToaccounts()">Accounts</li>
            <li (click)="goTooffersync()">offer Sync</li>-->
            <li (click)="goToBroadCast()">Broadcast Message</li>
            <!-- <li (click)="goTonotification()">Notifications</li> -->
        </ul>
    </div>
    <!-- <div id="core7" class="core">
        <h3>Report</h3>
        <ul>
            <li (click)="goTosalesreport()">Report of sales</li>

             <li (click)="goTovendorSalesReport()">Vendor Sales Report</li>



        </ul>
    </div> -->
    <!-- <div id="core5" class="core">
        <h3>Help Center</h3>
        <ul>



            <li (click)="goTotermcondition()">Terms and Conditions</li>
            <li (click)="goTocontactus()">Contact Us</li>
            <li (click)="goToprivacypolicy()">Privacy Policy </li>
            <li (click)="goToreturnpolicy()">Return Policy </li>
             <li (click)="goToventorT()">Vendor Terms and Condition </li> 



        </ul>
    </div> -->
    <div id="core6" class="core">
        <!-- <h3>Consumers Rights</h3> -->
        <ul>
            <!-- <li (click)="goTotermofuse()">Terms Of Use</li> -->
            <!-- <li (click)="goTotermofsales()">Terms Of Sales</li> -->
            <!-- <li (click)="goToconsumerprivacypolicy()">Privacy Policy </li> -->
            <!-- <li (click)="goTowarrantypolicy()">Warranty Policy </li> -->
        </ul>
    </div>
</div>