<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Raw Item</h1>
                    <div class="input_divs2 input_button input_button2">
                        <!-- <button class="btn_back" mat-button (click)="back()"><i class="fa fa-long-arrow-left"
                                aria-hidden="true"></i></button> -->
                    </div>
                    <!-- <div class="top_subheading_add">
                   <a (click)="goTosubcategory()"><span>+</span>Sub Category</a>
                   <a (click)="goToaddcategory()"><span>+</span>Add Category</a>
                   </div> -->
                </div>
                <div class="content_sec_comman">
                    <div class="content_wrap">
                        <div class="outer_loaction">
                            <div class="location_name">
                                <!-- <h3>Electronics</h3> -->
                                <!-- <p><i class="fa fa-compress" aria-hidden="true"></i></p> -->
                            </div>

                            <div class="add_location_name">
                                <a class="button-border add_state" data-toggle="modal" data-target="#Add_State">
                                    <i class="fa fa-plus"></i> Add Raw Item</a>
                            </div>

                            <div class="state-list button-border" *ngFor="let item of brandList; let i=index">
                                <div class="state">
                                    <div class="country_name">
                                        <figure><img src={{imageUrl+item.image}}></figure>
                                        <span>
                                            <span>
                                                <b>{{ i+1 }}. {{ item.name }} </b> <a data-toggle="modal"
                                                    data-target="#Add_State_delete">
                                                    <i class="fa fa-edit" (click)="editBrand(item._id)"></i>
                                                </a>

                                                <a>
                                                    <i class="fa fa-trash" (click)="deleteBrand(item._id)"></i>
                                                </a>
                                                <p>Category:{{item.category.name}}</p>
                                                <p>Sub-Category:{{item.subCategory.name}}</p>
                                            </span>
                                        </span>





                                    </div>


                                    <!-- state-list-->
                                </div>
                                <!--state-->
                            </div>
                        </div>
                    </div>
                </div>

                <!-----start pagination-->

                <!-----end pagination-->
            </div>
        </div>
    </div>
</div>

<!-- Modal define loaction add state  -->
<div id="Add_State" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div> -->
            <div class="modal-body">
                <h3> Add Raw Item</h3>
                <form [formGroup]="addBrandForm">
                    <div class="row">
                        <div class="form-group col-md-12">

                            <mat-form-field class="example-full-width">
                                <mat-label>Name of the Item<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Brand Name" formControlName="name"
                                    name="password">
                                <mat-error *ngIf="addBrandForm.get('name').hasError('required')">
                                    Item Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addBrandForm.get('name').hasError('maxlength') &&
                              !addBrandForm.get('name').hasError('required')">
                                    Item Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-12">

                            <mat-form-field class="example-full-width">
                                <mat-label> Arabic Item of the Brand<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Arabic Brand Name" formControlName="name_ar"
                                    name="password">
                                <mat-error *ngIf="addBrandForm.get('name_ar').hasError('required')">
                                    Item Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addBrandForm.get('name_ar').hasError('maxlength') &&
                              !addBrandForm.get('name_ar').hasError('required')">
                                    Item Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="form-group col-md-12">

                            <mat-form-field class="example-full-width">
                                <mat-label>Category<span class="red">*</span></mat-label>

                                <mat-select placeholder="Category" (selectionChange)='categorySelected($event.value)'
                                    formControlName="category">

                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let item of categoryList" [value]="item._id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="addBrandForm.get('category').hasError('required')">
                                    Category is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="form-group col-md-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Sub-Category<span class="red">*</span></mat-label>

                                <mat-select placeholder="SubCategory" formControlName="subCategory">

                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let item of subcategoryList" [value]="item._id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="addBrandForm.get('subCategory').hasError('required')">
                                    SubCategory is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="form-group col-md-12">


                        </div>
                        <div class="form-group col-md-12">
                            <label for="title">Add Image</label>
                            <div class="user_img">
                                <figure *ngIf="brandImage">
                                    <img style="height: 50px;width: 50px" [src]="brandImage" />
                                </figure>
                            </div>
                            <div class="input-group C_file">
                                <input class="form-control file" type="file" accept="image/*"
                                    (change)="profilePic($event)" formControlName="image" name="image">
                            </div>
                            <mat-error *ngIf="submitted && addBrandForm.get('image').hasError('required')">
                                Image is <strong>required</strong>
                            </mat-error>
                        </div>

                    </div>
                </form>
                <div class="model_buttons">
                    <button class="mat-raised-button thm_color mr-3" data-dismiss="modal" (click)="onAddBrand()">
                        Save
                    </button>
                    <button class="mat-raised-button btn_grey" (click)="cancelClicked()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal define loaction add state -->

<!-- Modal define loaction edit state  -->
<div id="Add_State_delete" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- <div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
</div> -->
            <div class="modal-body">
                <h3> Edit Item</h3>
                <form [formGroup]="editBrandForm">
                    <div class="row">
                        <div class="form-group col-md-12">

                            <mat-form-field class="example-full-width">
                                <mat-label>Name of the Item<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Brand Name" formControlName="name"
                                    name="password">
                                <mat-error *ngIf="editBrandForm.get('name').hasError('required')">
                                    Item Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" editBrandForm.get('name').hasError('maxlength') &&
                              !editBrandForm.get('name').hasError('required')">
                                    Item Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-12">

                            <mat-form-field class="example-full-width">
                                <mat-label> Arabic Name of the Item<span class="red">*</span></mat-label>
                                <input matInput type="text" placeholder="Arabic Brand Name" formControlName="name_ar"
                                    name="password">
                                <mat-error *ngIf="editBrandForm.get('name_ar').hasError('required')">
                                    Item Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf=" addBrandForm.get('name_ar').hasError('maxlength') &&
                              !editBrandForm.get('name_ar').hasError('required')">
                                    Item Name should be max 20 characters long.
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="form-group col-md-12">

                            <mat-form-field class="example-full-width">
                                <mat-label>Category<span class="red">*</span></mat-label>

                                <mat-select placeholder="Category" (selectionChange)='categorySelected($event.value)'
                                    formControlName="category">

                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let item of categoryList" [value]="item._id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="editBrandForm.get('category').hasError('required')">
                                    Category is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="form-group col-md-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Sub-Category<span class="red">*</span></mat-label>

                                <mat-select placeholder="SubCategory" formControlName="subCategory">

                                    <mat-option>--</mat-option>
                                    <mat-option *ngFor="let item of subcategoryList" [value]="item._id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="editBrandForm.get('subCategory').hasError('required')">
                                    SubCategory is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                        </div>

                        <div class="form-group col-md-12">


                        </div>
                        <div class="form-group col-md-12">
                            <label for="title">Add Image</label>
                            <div class="user_img">
                                <figure>
                                    <img *ngIf="id && !flagImage" style="height: 50px; width: 50px"
                                        [src]="imageUrl+brandImage" alt="">
                                    <img *ngIf="flagImage" style="height: 50px; width: 50px" [src]="previewImage" />
                                </figure>
                            </div>
                            <div class="input-group C_file">
                                <input class="form-control file" type="file" accept="image/*"
                                    (change)="profilePic($event)" formControlName="image" name="image">
                            </div>
                            <mat-error *ngIf="submitted && editBrandForm.get('image').hasError('required')">
                                Image is <strong>required</strong>
                            </mat-error>
                        </div>

                    </div>
                </form>
                <div class="model_buttons">
                    <button class="mat-raised-button thm_color mr-3" data-dismiss="modal" (click)="onUpdateBrand()">
                        Update
                    </button>
                    <button class="mat-raised-button btn_grey" (click)="cancelClicked()"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal define loaction edit state -->
<div class="loader_bg" *ngIf="progress">
    <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#97334b ;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>