<div class="tab-content">
    <div id="allOrders" class="tab-pane fade in active">
        <div class="inner_content">
            <div class="outer_table">
                <div class="search_fields">
                    <div class="">

                        <mat-form-field class="example-full-width">
                            <mat-label>Filter<span class="red">*</span></mat-label>

                            <mat-select placeholder="Filter" [(ngModel)]="status"
                                (selectionChange)="filterSelected($event)">
                                <mat-option *ngIf="flag==true" value="">
                                    Remove Filter
                                </mat-option>
                                <mat-option value='new'>
                                    New
                                </mat-option>
                                <mat-option value='onTheWay'>
                                    On The Way
                                </mat-option>
                                <mat-option value='ready'>
                                    Ready
                                </mat-option>
                                <mat-option value='completed'>
                                    Completed
                                </mat-option>
                                <mat-option value='cancelled'>
                                    Cancelled
                                </mat-option>
                                <mat-option value='preparing'>
                                    Preparing
                                </mat-option>
                                <mat-option value='ready'>
                                    Ready
                                </mat-option>
                                <mat-option value='rejected'>
                                    Rejected
                                </mat-option>


                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="search_inner_fiels">
                        <div class="">

                            <div class="search_with_icons">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Search</mat-label>
                                    <input matInput type="text" [(ngModel)]="search" placeholder="">
                                </mat-form-field>
                                <button mat-button matSuffix mat-icon-button> <i
                                        *ngIf="flagSearch==true" class="fa fa-search" aria-hidden="true"
                                        (click)="searchSubmit()"></i>
                                    <i *ngIf="flagSearch==false" class="fa fa-times" aria-hidden="true"
                                        (click)="clearSearch()"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="table-responsive">
                    <table>
                        <tr>
                            <th>Sr.no</th>
                            <th>Order Id</th>
                            <th>Food </th>
                            <th>Price</th>
                            <th>User Address</th>
                            <th>Vendor</th>
                            <th>Order Date</th>
                            <th>Delivery Time</th>
                            <th>Status</th>
                            <!-- <th class="action_bx">Action</th> -->
                        </tr>
                        <tr *ngFor="let item of orderHistoryList; index as i ">
                            <td *ngIf="flagUserList==false">{{i+1}}</td>
                            <td *ngIf="flagUserList==true">{{srNo+i+1}}</td>
                            <td>{{item?._id}}</td>
                            <td>
                                <table style="max-width: 100%;" >
                                    <tr>
                                        <th>Food Name</th>
                                        <th>Purchase Quantity</th>
                                    </tr>
                                    <tr *ngFor="let item2 of item.orderDetails">
                                        <td>{{item2?.product?.name}}</td>
                                        <td>{{item2?.product?.purchaseQuantity}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td>{{item?.orderDetails[0].totalAmount | number}}</td>

                            <td>{{item?.orderDetails[0].deliveryAddress?.address}},{{item?.orderDetails[0].deliveryAddress?.streetName}}{{item?.orderDetails[0].deliveryAddress?.postalCode}}
                            </td>
                            <td>{{item?.orderDetails[0].seller?.fullName}}</td>
                            <td>{{item?.orderDetails[0].createdAt | date}}</td>
                            <td>{{item?.orderDetails[0].deliveryTime}}Min</td>
                            <td>{{item?.orderDetails[0].status}}
                            </td>
                        
                        </tr>


                    </table>

                </div>
            </div>
            <!-----start pagination-->
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="pageEvent = orderHistoryListAfterPageSizeChanged($event)">
            </mat-paginator>
            <!-----end pagination-->
        </div>
    </div>

</div>