<h2 mat-dialog-title>Confirm Quantity</h2>
<mat-dialog-content class="mat-typography">

    <ul>
        <div class="row">
            <div class="col-4">
                <li>
                    ingredient 1:
                    <mat-form-field>
                        <input type="number" matInput value="2">
                    </mat-form-field>
                </li>
            </div>
            <div class="col-4">
                <li>
                    ingredient 2:<mat-form-field>
                        <input type="number" matInput value="1">
                    </mat-form-field>
                </li>
            </div>
            <div class="col-4">

                <li>
                    ingredient 3: <mat-form-field>
                        <input type="number" matInput value="4">
                    </mat-form-field>
                </li>
            </div>
            <div class="col-4">
                <li>
                    ingredient 4:<mat-form-field>
                        <input type="number" matInput value="1">
                    </mat-form-field>

                </li>
            </div>
            <div class="col-4">
                <li>
                    ingredient 5:
                    <mat-form-field>
                        <input type="number" matInput value="6">
                    </mat-form-field>

                </li>
            </div>
            <div class="col-4">
                <li>
                    ingredient 6:<mat-form-field>
                        <input type="number" matInput value="1">
                    </mat-form-field>

                </li>
            </div>


        </div>

    </ul>





</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
    <button mat-button mat-dialog-close>Reset</button>

</mat-dialog-actions>