<h2 mat-dialog-title>Confirm Quantity</h2>
<mat-dialog-content class="mat-typography">

    <h3> Vendor :- {{this.data.data.selectedVendor.name}}</h3>
    <h3> Food Truck :- {{this.data.data.selectedFoodTruck.name}}</h3>


    <ul>
        <div class="row">
            <div class="row mt-3">
                <div class="col-12">

                    <form [formGroup]="dataForm">
                        <table class="table table-bordered" formArrayName="rawitems">
                            <tr>
                                <th colspan="2"> Raw Item:</th>

                            </tr>
                            <tr *ngFor="let quantity of rawItems().controls; let i=index" [formGroupName]="i">
                                <td style="width: 40%;">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Ingredient<span class="red">*</span></mat-label>
                                        <input type="text" formControlName="name" matInput>

                                    </mat-form-field>
                                </td>
                                <td style="width: 40%;">
                                    <mat-form-field class="example-full-width">
                                        <mat-label> Quantity:</mat-label>
                                        <input matInput type="number" min="0" formControlName="assignedQuantity">
                                    </mat-form-field>
                                </td>

                            </tr>
                        </table>


                        <table class="table table-bordered" formArrayName="equipment">
                            <tr>
                                <th colspan="2"> Equipment:</th>

                            </tr>
                            <tr *ngFor="let quantity of equipments().controls; let i=index" [formGroupName]="i">
                                <td style="width: 40%;">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Ingredient<span class="red">*</span></mat-label>
                                        <input type="text" formControlName="name" matInput>

                                    </mat-form-field>
                                </td>
                                <td style="width: 40%;">
                                    <mat-form-field class="example-full-width">
                                        <mat-label> Quantity:</mat-label>
                                        <input matInput type="number" min="0" formControlName="assignedQuantity">
                                    </mat-form-field>
                                </td>

                            </tr>
                        </table>
                        <mat-error *ngIf="dataForm.get('rawitems').hasError('required')">
                            Raw Item are <strong>required</strong>
                        </mat-error>
                    </form>
                </div>
            </div>


        </div>

    </ul>





</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]='dataForm.invalid' (click)="submit()">Confirm</button>
    <button mat-button mat-dialog-close>Reset</button>

</mat-dialog-actions>