<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Add Products</h1>
                    <div class="input_divs2 input_button input_button2">

                        <button class="btn_back" mat-button (click)="back()"><i class="fa fa-long-arrow-left"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
                <!-----start input fields------>
                <form [formGroup]="addProductForm">
                    <div class="add_user_list">
                        <div class="row mt-3">
                            <div class="col-6">


                                <mat-form-field class="example-full-width">
                                    <mat-label>Name<span class="red">*</span></mat-label>
                                    <input type="text" matInput formControlName="name" placeholder="Name">

                                    <mat-error *ngIf="addProductForm.get('name').hasError('required')">
                                        Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Malay Name <span class="red">*</span></mat-label>
                                    <input matInput type="text" placeholder="Malay Name" formControlName="name_ar"
                                        placeholder="" name="name">
                                    <mat-error *ngIf="addProductForm.get('name_ar').hasError('required')">
                                        Malay Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                            </div>
                        </div>


                        <div class="row mt-3">
                            <div class="col-6">


                                <mat-form-field class="example-full-width">
                                    <mat-label>Category<span class="red">*</span></mat-label>
                                    <mat-select (selectionChange)="categorySelected($event.value)"
                                        formControlName="category">
                                        <mat-option *ngFor="let body of categoryList" [value]="body._id">
                                            {{body.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="addProductForm.get('category').hasError('required')">
                                        Category is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>


                            </div>
                            <div class="col-6 mt-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Sub Category<span class="red">*</span></mat-label>
                                    <mat-select formControlName="subCategory"
                                        (selectionChange)="subCategorySelected($event.value)" multiple>

                                        <mat-option *ngFor="let body of subCategoryList" [value]="body._id">
                                            {{body.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="addProductForm.get('subCategory').hasError('required')">
                                        Sub-Category is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>

                        <!-- <div class="row">
                            <div class="col-12">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Ingredient<span class="red">*</span></mat-label>
                                    <mat-select formControlName="ingredient"
                                        (selectionChange)="subCategorySelected($event.value)" multiple>

                                        <mat-option *ngFor="let body of subCategoryList" [value]="body._id">
                                            {{body.name}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="addProductForm.get('ingredient').hasError('required')">
                                        Ingredient is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                            </div>
                        </div> -->

                        <div class="row mt-3">
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Quantity <span class="red">*</span></mat-label>
                                    <input matInput type="number" formControlName="quantity" placeholder="" name="name">
                                    <mat-error *ngIf="addProductForm.get('quantity').hasError('required')">
                                        Quantity is <strong>required</strong>
                                    </mat-error>
                                    <mat-error
                                        *ngIf="addProductForm.controls['quantity'].hasError('min') && !addProductForm.controls['quantity'].hasError('required')">
                                        Quantity should not be less than 0
                                    </mat-error>

                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Purchase quantity<span class="red">*</span></mat-label>
                                    <input matInput type="number" formControlName="purchaseQuantity" placeholder=""
                                        name="name">

                                    <mat-error *ngIf="addProductForm.get('purchaseQuantity').hasError('required')">
                                        Purchase Quantity is <strong>required</strong>.
                                    </mat-error>
                                    <mat-error *ngIf="addProductForm.controls['purchaseQuantity'].hasError('min') &&
                                         !addProductForm.controls['purchaseQuantity'].hasError('required')">
                                        Purchase Quantity should not be less than 0.
                                    </mat-error>
                                    <mat-error
                                        *ngIf="addProductForm.controls['purchaseQuantity'].hasError('moreThan') && !addProductForm.controls['quantity'].hasError('required')">
                                        Purchase Quantity should not be more than quantity.
                                    </mat-error>


                                </mat-form-field>
                            </div>
                        </div>

                        <!-- <div class="row mt-3">
                            <div class="col-6">


                                <mat-form-field class="example-full-width">
                                    <mat-label>Normal Stock <span class="red">*</span></mat-label>
                                    <input matInput type="number" formControlName="normalStock" placeholder=""
                                        name="name">
                                    <mat-error *ngIf="addProductForm.get('normalStock').hasError('required')">
                                        Normal Stock is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="addProductForm.controls['normalStock'].hasError('min') &&
                                         !addProductForm.controls['normalStock'].hasError('required')">
                                        Normal Stock should not be less than 0
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="col-6">

                                <mat-form-field class="example-full-width">
                                    <mat-label>Over Stock <span class="red">*</span></mat-label>
                                    <input matInput type="number" formControlName="overStock" placeholder=""
                                        name="name">
                                    <mat-error *ngIf="addProductForm.get('overStock').hasError('required')">
                                        Over Stock is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="addProductForm.controls['overStock'].hasError('min') &&
                                         !addProductForm.controls['overStock'].hasError('required')">
                                        Over Stock should not be less than 0
                                    </mat-error>
                                </mat-form-field>

                            </div>
                        </div> -->

                        <div class="row mt-3">
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Base Price<span class="red">*</span></mat-label>
                                    <input matInput type="text" min="1" formControlName="price" placeholder=""
                                        name="name">
                                    <mat-error *ngIf="addProductForm.get('price').hasError('required')">
                                        Base Price is <strong>required</strong>.
                                    </mat-error>

                                    <mat-error *ngIf="addProductForm.get('price').hasError('min')  &&
                                           !addProductForm.get('price').hasError('required')">
                                        Base price could not be less than <strong>1</strong>.
                                    </mat-error>

                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Discount<span class="red">*</span></mat-label>
                                    <input matInput type="number" formControlName="discount" placeholder="" name="name">

                                    <mat-error *ngIf="addProductForm.get('discount').hasError('required')">
                                        Discount is <strong>required</strong>
                                    </mat-error>
                                    <mat-error
                                        *ngIf=" addProductForm.controls['discount'].hasError('min') && !addProductForm.get('discount').hasError('required')">
                                        Discount can be min 0
                                    </mat-error>
                                    <mat-error *ngIf="addProductForm.controls['discount'].hasError('max') &&
                                         !addProductForm.controls['discount'].hasError('min') &&
                                         !addProductForm.get('discount').hasError('required')">
                                        Discount can be max 100
                                    </mat-error>

                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Description<span class="red">*</span></mat-label>
                                    <textarea matInput formControlName="description" placeholder=""></textarea>
                                    <mat-error *ngIf="addProductForm.controls['description'].hasError('required')">
                                        Description is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Malay Description <span class="red">*</span></mat-label>
                                    <textarea matInput formControlName="description_ar" placeholder=""></textarea>
                                    <mat-error *ngIf="addProductForm.controls['description_ar'].hasError('required')">
                                        Malay Description is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Highlights</mat-label>
                                    <textarea matInput formControlName="highlights" placeholder=""></textarea>
                                    <mat-error *ngIf="addProductForm.controls['highlights'].hasError('required')">
                                        Highlights is <strong>required</strong>
                                    </mat-error>

                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Malay Highlights</mat-label>
                                    <textarea matInput formControlName="highlights_ar" placeholder=""></textarea>
                                    <mat-error *ngIf="addProductForm.controls['highlights_ar'].hasError('required')">
                                        Malay Highlights is <strong>required</strong>
                                    </mat-error>

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12">
                                <label> Add Raw Item</label>
                                <table class="table table-bordered" formArrayName="specification">
                                    <tr>
                                        <th colspan="2"> Raw Item:</th>
                                        <th width="20%">
                                            <div class="input_button input_button2">
                                                <button type="button" mat-button (click)="addNewSpecification()"
                                                    class="btn btn-primary">Add
                                                    More</button>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr *ngFor="let quantity of specification().controls; let i=index"
                                        [formGroupName]="i">
                                        <td style="width: 40%;">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Ingredient<span class="red">*</span></mat-label>
                                                <mat-select formControlName="title"
                                                    (selectionChange)="subCategorySelected($event.value)">

                                                    <mat-option *ngFor="let body of subCategoryList" [value]="body">
                                                        {{body}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error
                                                    *ngIf="addProductForm.get('ingredient').hasError('required')">
                                                    Ingredient is <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </td>
                                        <td style="width: 40%;">
                                            Quantity:
                                            <input type="text" formControlName="value" class="form-control">
                                        </td>
                                        <td style="width: 20%;">
                                            <button class="btn_grey" (click)="removeSpecification(i)">Remove</button>
                                        </td>
                                    </tr>
                                </table>
                                <mat-error *ngIf="addProductForm.get('specification').hasError('required')">
                                    Specifications are <strong>required</strong>
                                </mat-error>
                            </div>
                        </div>

                        <!-- 
                        <div class="row mt-3">
                            <div class="col-12">
                                <label> Add Malay Specification</label>
                                <table class="table table-bordered" formArrayName="specification_ar">
                                    <tr>
                                        <th colspan="2"> Malay Specification:</th>
                                        <th width="20%">
                                            <div class="input_button input_button2">
                                                <button type="button" mat-button (click)="addNewSpecification_ar()"
                                                    class="btn btn-primary">Add
                                                    More</button>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr *ngFor="let quantity of specification_ar().controls; let i=index"
                                        [formGroupName]="i">
                                        <td style="width: 40%;">
                                            title :
                                            <input type="text" formControlName="title" class="form-control">
                                        </td>
                                        <td style="width: 40%;">
                                            Value:
                                            <input type="text" formControlName="value" class="form-control">
                                        </td>
                                        <td style="width: 20%;">
                                            <button (click)="removeSpecification_ar(i)" class="btn_grey">Remove</button>
                                        </td>
                                    </tr>
                                </table>
                                <mat-error *ngIf="addProductForm.get('specification_ar').hasError('required')">
                                    Malay Specifications are <strong>required</strong>
                                </mat-error>
                            </div>
                        </div> -->


                        <div class="row mt-3">
                            <div class="col-12">
                                <label>Add Search Keywords<span class="red">*</span></label>
                                <table class="table table-bordered" formArrayName="aliases">
                                    <tr>
                                        <th>Search Keywords:</th>
                                        <th width="20%">
                                            <div class="input_button input_button2">
                                                <button mat-button type="button" (click)="addAlias()" class="">Add
                                                    More</button>
                                            </div>
                                        </th>
                                    </tr>
                                    <tr *ngFor="let quantity of aliases.controls; let i=index">
                                        <td style="width: 80%;">
                                            Keywords :
                                            <input type="text" [formControlName]="i" class="form-control">
                                        </td>
                                        <td>
                                            <button (click)="removeSearchKeywords(i)" class="btn_grey">Remove</button>
                                        </td>
                                    </tr>

                                </table>
                                <mat-error *ngIf="addProductForm.get('aliases').hasError('required')">
                                    Search Keywords are <strong>required</strong>
                                </mat-error>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12">
                                <label>Image<span class="red">*</span></label>
                                <div class="product_image_upload">
                                    <figure>
                                        <input type='file' accept="image/*" formControlName="image"
                                            (change)="readUrl($event)" placeholder="choosefile" class="images_uploader"
                                            multiple></figure>

                                    <button class="btn btn-primary"><span style="color: white;"> <i
                                                class="fa fa-plus"></i>Add
                                            image</span></button>
                                </div>

                                <div class="custom-invalid"
                                    *ngIf="submitted && addProductForm.controls['image'].hasError('required')">
                                    Image is <strong>required</strong>
                                </div>

                                <div class="show_product_imges">
                                    <span *ngFor="let item of urls">
                                        <figure>
                                            <img [src]="item.image" alt="use this">
                                        </figure>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="update_button">
                            <button mat-button (click)="onSubmit()">
                                <span><i class="fa fa-window-restore"></i>
                                </span>
                                Add
                            </button>
                            <p *ngIf="applyTax">{{tax}}% Tax will be added to
                                Product price</p>
                        </div>
                    </div>


                </form>
                <!-----End input fields------>
                <div class="loader_bg" *ngIf="progress">
                    <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#ffa200 ;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>