<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Add Discount</h1>
                    <a (click)="goToofferdeals()">Back To List</a>
                </div>
                <form [formGroup]="addDiscountForm">
                    <!-----start input fields------>
                    <div class="add_user_list">
                        <div>
                            <fieldset>
                                Category
                                <input type="radio" formControlName="dicountOn" name="dicountOn"
                                    (click)="setradio('category')" value="category" [checked]="true">
                                &nbsp;&nbsp;
                                Sub-category
                                <input type="radio" formControlName="dicountOn" name="dicountOn"
                                    (click)="setradio('subcategory')" value="subCategory">&nbsp;&nbsp;
                                Vendor
                                <input type="radio" formControlName="dicountOn" name="dicountOn"
                                    (click)="setradio('vendor')" value="vendor">&nbsp;&nbsp;
                                Product
                                <input type="radio" formControlName="dicountOn" name="dicountOn"
                                    (click)="setradio('product')" value="product">&nbsp;&nbsp;
                            </fieldset>
                            <mat-error *ngIf="submitted && addDiscountForm.controls['dicountOn'].hasError('required')">
                                Offer type is <strong>required</strong>
                            </mat-error>
                        </div>
                        <ul>
                            <li *ngIf="showCategory">
                                <label>Select Category<span class="red">*</span></label>
                                <mat-form-field *ngIf="singleCategorySelection">
                                    <mat-select (selectionChange)="categorySelected($event.value)">
                                        <input matInput placeholder="Seaarch Category"
                                            (keyup)="onKeyInCategory($event.target.value)">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let body of categoryList" [value]="body.id">{{body.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <ng-multiselect-dropdown *ngIf="!singleCategorySelection" [placeholder]=""
                                    [data]="categoryList" [(ngModel)]="selectedCategoryItem"
                                    [ngModelOptions]="{standalone: true}" [settings]="categoryDropDownSettings"
                                    (onSelect)="onCategorySelect($event)" (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </li>
                            <li *ngIf="showSubcategory">
                                <label>Select Sub Category<span class="red">*</span></label>
                                <mat-form-field *ngIf="singleSubCategorySelection">
                                    <mat-select (selectionChange)="subCategorySelected($event.value)">
                                        <input matInput placeholder="Search Sub-Category"
                                            (keyup)="onKeyInSubCategory($event.target.value)">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let body of subCategoryList" [value]="body.id">{{body.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <ng-multiselect-dropdown *ngIf="!singleSubCategorySelection" [placeholder]=""
                                    [(ngModel)]="selectedSubcategoryItem" [ngModelOptions]="{standalone: true}"
                                    [settings]="subcategoryDropDownSettings" [data]="subCategoryList"
                                    (onSelect)="onSubcategorySelect($event)" (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </li>
                            <li *ngIf="showVendor">
                                <label>Select Vendor<span class="red">*</span></label>
                                <mat-form-field *ngIf="singleVendorSelection">
                                    <mat-select (selectionChange)="vendorSelected($event.value)">
                                        <input matInput placeholder="Search Vendor"
                                            (keyup)="onKeyInVendor($event.target.value)">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let body of vendorList" [value]="body.id">
                                            {{body.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <ng-multiselect-dropdown *ngIf="!singleVendorSelection" [placeholder]=""
                                    [(ngModel)]="selectedVendorItem" [ngModelOptions]="{standalone: true}"
                                    [settings]="vendorDropDownSettings" [data]="vendorList"
                                    (onSelect)="onVendorSelect($event)" (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </li>
                            <li *ngIf="showProduct">
                                <label>Select Product<span class="red">*</span></label>
                                <mat-form-field *ngIf="singleProductSelection">
                                    <mat-select (selectionChange)="productSelected($event.value)">
                                        <input matInput placeholder="Search Product"
                                            (keyup)="onKeyInProduct($event.target.value)">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let body of productList" [value]="body.id">{{body.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <ng-multiselect-dropdown *ngIf="!singleProductSelection" [placeholder]=""
                                    [(ngModel)]="selectedProductItem" [ngModelOptions]="{standalone: true}"
                                    [settings]="productDropDownSettings" [data]="productList"
                                    (onSelect)="onProductSelect($event)" (onSelectAll)="onSelectAll($event)">
                                </ng-multiselect-dropdown>
                            </li>
                            <li>
                                <label> Name <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput formControlName="name" type="text" placeholder="" name="name">
                                    <div class="custom-invalid"
                                        *ngIf=" submitted && addDiscountForm.controls['name'].hasError('required')">
                                        Name is <strong>required</strong>
                                    </div>
                                    <div class="custom-invalid"
                                        *ngIf=" submitted && addDiscountForm.controls['name'].hasError('maxLength')">
                                        Max length should not be more than <strong>25 character</strong>
                                    </div>
                                </mat-form-field>
                            </li>
                            <li>
                                <label> Arbic Name </label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput formControlName="name_ar" type="text" placeholder="" name="name_ar">
                                    <div class="custom-invalid"
                                        *ngIf=" submitted && addDiscountForm.controls['name_ar'].hasError('required')">
                                        Arbic Name is <strong>required</strong>
                                    </div>
                                </mat-form-field>
                            </li>
                            <li>
                                <label> Discount <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput formControlName="disount" min="0" max="100" type="number"
                                        placeholder="" name="name">
                                    <div class="custom-invalid"
                                        *ngIf=" submitted && addDiscountForm.controls['disount'].hasError('required')">
                                        Discount percentage is <strong>required</strong>
                                    </div>
                                    <div class="custom-invalid"
                                        *ngIf=" submitted && addDiscountForm.controls['disount'].hasError('min')">
                                        Discount percentage should not be <strong>less than zero</strong>
                                    </div>
                                </mat-form-field>
                            </li>
                            <!-- <li>
                            <label>Timeline for Discount<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="date" placeholder="" name="name">
                            </mat-form-field>
                        </li> -->
                            <li>
                                <label>Start Date <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput formControlName="startDate" type="date" [min]="today" placeholder=""
                                        name="name">


                                    <div class="custom-invalid"
                                        *ngIf=" submitted && addDiscountForm.controls['startDate'].hasError('required')">
                                        Start Date is <strong>required</strong>
                                    </div>
                                </mat-form-field>
                            </li>
                            <li>
                                <label>End Date <span class="red">*</span></label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput formControlName="endDate" type="date" [min]="endTommorow"
                                        placeholder="" name="name">
                                    <div class="custom-invalid"
                                        *ngIf=" submitted && addDiscountForm.controls['endDate'].hasError('required')">
                                        End Date is <strong>required</strong>
                                    </div>
                                    <!-- <div class="custom-invalid"
                                        *ngIf=" submitted && addDiscountForm.controls['endDate'].hasError('dateGreater') && !addDiscountForm.controls['endDate'].hasError('required')">
                                        End Date is <strong>required</strong>
                                    </div> -->

                                </mat-form-field>
                            </li>
                            <li>
                                <label>Select Type<span class="red">*</span></label>
                                <mat-form-field>
                                    <mat-select formControlName="type">
                                        <input matInput placeholder="Search Product">
                                        <mat-option>None</mat-option>
                                        <mat-option *ngFor="let ready of type" [value]="ready.value">{{ready.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                    <div class="custom-invalid"
                                        *ngIf=" submitted && addDiscountForm.controls['type'].hasError('required')">
                                        Deal Type is <strong>required</strong>
                                    </div>
                                </mat-form-field>
                            </li>
                            <li class="banner_image">
                                <label>Add Banner image</label>
                                <div class="product_image_upload">
                                    <input type='file' (change)="bannerImageEvent($event)" accept="image/*"
                                        formControlName="bannerImage" placeholder="choosefile" class="images_uploader">

                                    <span>Choose File</span>
                                    <div class="custom-invalid"
                                        *ngIf="submitted &&  addDiscountForm.controls['bannerImage'].hasError('required')">
                                        Banner Image is <strong>required</strong>
                                    </div>

                                </div>
                                <div class="user_img">
                                    <figure class="figure" *ngIf="previewImage">
                                        <img [src]="previewImage" />
                                    </figure>
                                </div>

                            </li>



                        </ul>
                        <div class="update_button">
                            <button mat-button (click)="checkBanner()">
                                <span><i class="fa fa-window-restore"></i>
                                </span>
                                Add
                            </button>
                        </div>
                    </div>

                </form>
                <!-----End input fields------>

            </div>
        </div>
    </div>
</div>