<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>{{name}} Products</h1>
                    <div class="top_subheading_add">
                        <a (click)="goToVendorList()">Go To Vendor</a>
                    </div>
                </div>
                <div class="outer_table">
                    <div class="search_fields">
                        <div class="filters Booking_status">
                            <label>Filter</label>
                            <select [(ngModel)]="filterBy" (change)="filterSelected($event)">
                                <option *ngIf="flag==true" value="">Remove Filter</option>
                                <option *ngIf="flag==false" value=""></option>
                                <option value="inactive">Blocked</option>
                                <option value="active">Unblocked</option>
                            </select>
                        </div>
                        <div class="search_inner_fiels">
                            <div class="filters Booking_status">
                                <label>Search</label>
                                <div class="search_with_icons">
                                    <mat-form-field [floatLabel]="'never'">
                                        <input matInput type="text" name="search" [(ngModel)]="search" placeholder="">
                                    </mat-form-field>
                                    <i *ngIf="flagSearch==true" class="fa fa-search" (click)="searchMethod()"
                                        aria-hidden="true"></i>
                                    <i *ngIf="flagSearch==false" class="fa fa-times" aria-hidden="true"
                                        (click)="clearSearch()"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div *ngIf="flagData==true">
                        <h1>No Data Found</h1>
                    </div>
                    <div *ngIf="flagData==false" class="table-responsive">
                        <table>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Product Image</th>
                                <th>Product Name</th>
                                <th>Product Category</th>
                                <th>Product Sub Category</th>

                                <!-- <th>Product ISBN  Number</th>
                            <th>Product SKU  Number</th> -->
                                <th>Product Quantity</th>
                                <th>Product Minimum quantity</th>
                                <th>Price </th>
                                <th>Product Description</th>
                                <th class="action_bx">Block</th>
                            </tr>

                            <tr *ngFor="let product of productList;  let i = index">
                                <td>{{ i+1 }}</td>
                                <td class="product_img">
                                    <figure>
                                        <img *ngIf="!product.category.image" src="../../assets/images/makeup.png"
                                            alt="">
                                        <img *ngIf="product.category.image" src={{imageUrl+product.category.image}}
                                            alt="product.category.name">
                                    </figure>
                                </td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.subCategory.name }}</td>
                                <!-- <td>45454</td>
                            <td>565656</td> -->
                                <td>{{ product.productQuantity }}</td>
                                <td>{{ product.purchaseQuantity }}</td>
                                <td>$ {{ product.price }}</td>
                                <td>{{ product.description.length < 24 ?
                            product.description :
                        product.description.slice(0,24)+ "..." }}</td>
                                <td>
                                    <div class="enable_disable">
                                        <mat-slide-toggle [checked]="product.status=='1'? true:false"
                                            (change)=onChangeBlockStatus(product.id,product.status)>
                                        </mat-slide-toggle>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-----start pagination-->
                        <mat-paginator #paginator [length]="length" [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions"
                            (page)="pageEvent = vendorProductListAfterPageSizeChanged($event)">
                        </mat-paginator>
                        <!-----end pagination-->
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>