<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>View Discount</h1>
                    <a (click)="goToofferdeals()">Back To List</a>
                </div>
                <!-----start input fields------>
                <div class="add_user_list">
                    <ul>
                        <li>
                            <label>Name<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" value="{{bannerDetails.name}}" name="name"
                                    disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Name_ar<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" value="{{bannerDetails.name_ar}}" placeholder="" disabled
                                    name="name">
                            </mat-form-field>
                        </li>
                        <!-- <li>
                            <label>Category<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" value="{{bannerDetails.categoryName}}" placeholder=""
                                    name="name" disabled name="name">
                            </mat-form-field>
                        </li> -->
                        <li>
                            <label>Type<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" value="{{bannerDetails.type}}" placeholder="" name="name"
                                    disabled>
                            </mat-form-field>
                        </li>
                        <!-- <li>
                            <label>Category<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" disabled name="name"
                                    value="">
                            </mat-form-field>
                        </li> -->

                        <li>
                            <label> Discount <span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name"
                                    value="{{bannerDetails.discount}}" disabled name="name">
                            </mat-form-field>
                        </li>

                        <li>
                            <label> Start Date<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name"
                                    value="{{bannerDetails.startDate | date}}" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label> End Date<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name"
                                    value="{{bannerDetails.endDate | date}}" disabled name="name">
                            </mat-form-field>
                        </li>
                        <li class="banner_image">
                            <label> Banner image</label>

                            <div class="show_product_imges pt-3">
                                <span>
                                    <figure>
                                        <img src="{{imagePath+bannerDetails.image}}" width="200px" height="200px"
                                            alt="">
                                    </figure>
                                </span>
                            </div>
                            <!-- <span>
                                    <figure>
                                        <img src="../../assets/images/makeup.png" alt="">
                                    </figure>
                                </span>


                             -->
                        </li>

                    </ul>
                    <!-- <div class="update_button">
                        <button mat-button>
                            <span><i class="fa fa-window-restore"></i>
                            </span>
                            Add
                        </button>
                    </div> -->
                </div>


                <!-----End input fields------>

            </div>
        </div>
    </div>
</div>

<div class="loader_bg" *ngIf="progress">
    <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#97334b ;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>