.product_image_upload {
    position: relative;
    top: 10px;
}
.banner_image label{    margin: 0;
    position: relative;
    top: 4px;}
  .product_image_upload {
    color: #000;
    background: #F1F1F1;
}
.product_image_upload span {
    font-size: 14px;
    font-weight: 500;
}