<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Inventory Management</h1>
                </div>
                <div class="search_fields">
                    <div class="filters Booking_status">
                        <mat-form-field class="example-full-width">
                            <mat-label>Filter<span class="red">*</span></mat-label>
                            <mat-select placeholder="Filter" [(ngModel)]="filterBy"
                                (selectionChange)="filterSelected($event)">
                                <mat-option *ngIf="flag==true" value="">
                                    Remove Filter
                                </mat-option>
                                <mat-option value="active">
                                    Active
                                </mat-option>
                                <mat-option value="inactive">
                                    Inactive
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="search_inner_fiels">
                        <div class="filters Booking_status">
                            <div class="search_with_icons">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Search</mat-label>
                                    <input matInput type="text" [(ngModel)]="search" placeholder="">
                                </mat-form-field>
                                <button mat-button matSuffix mat-icon-button> <i *ngIf="flagSearch==true"
                                        class="fa fa-search" aria-hidden="true" (click)="searchMethod()"></i>
                                    <i *ngIf="flagSearch==false" class="fa fa-times" aria-hidden="true"
                                        (click)="clearSearch()"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="flagData==true">
                    <h1>No Data Found</h1>
                </div>
                <div *ngIf="flagData==false" class="table-responsive divAboveTable">
                    <table class="table">
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Sub-Category</th>
                            <th>Raw Item Type</th>
                            <th>Unit Price</th>
                            <th>Quantity Per Unit</th>
                            <th>Total Unit Initially</th>
                            <th>Available Unit</th>
                            <th>Serving Size</th>
                        </tr>
                        <tr *ngFor="let item of brandList; let i=index">
                            <td>
                                <figure><img width="50px" height="50px" src={{imageUrl+item.image}}>
                                </figure>
                            </td>
                            <td>{{ item.name }}</td>
                            <td>{{item.category.name}}</td>
                            <td>
                                <span *ngFor="let item of item.subCategory">{{item.name}}</span>
                            </td>
                            <td>{{item.type}}</td>
                            <td>{{item.unitPrice}}</td>
                            <td>{{item.quantityPerUnit}}{{item.measureTypeUnit}}</td>
                            <td>{{item.totalUnits | number}}</td>
                            <td>
                                <!-- <div *ngIf="!flagEdit;else elseBlock" (click)='checkClick()'>
                                {{item.availbaleInventory | number}} </div>
                                    <ng-template #elseBlock> -->
                                        <input type="number" (keyup)='inventoryChanged($event,item)' [(ngModel)]="item.availbaleInventory">
                                    <!-- </ng-template>
                             -->
                            </td>
                            <td>{{item.perServingSize}}{{item.measureTypeServing}}</td>
                        </tr>
                    </table>
                    <!-----start pagination-->
                    <mat-paginator #paginator [length]="length" [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = ListAfterPageSizeChanged($event)">
                    </mat-paginator>
                    <!-----end pagination-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader_bg" *ngIf="progress">
    <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#ffa200 ;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>