.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.item_img {
    position: relative;
    margin-top: 20px;

    .del_btn {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}

.logininner {
    .form_2 {
        li {
            padding: 10px 0px;
        }
    }
}