<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Addresses</h1>
                </div>

                <div col-lg-12 *ngIf="flagData==false">
                    <h1>No Data Found</h1>
                </div>
                <div class="row" *ngIf="flagData==true">
                    <div class="col-lg-6">
                        <div class="card1" *ngFor="let item of addressList; ">
                            <div class="address">
                                <h3>{{item.addressType}} Address</h3>
                                <div class="row">
                                    <div class="complete_address">
                                        Apartment:- {{item.address1}},<br>
                                        Building Name:- {{item.address2}},<br>
                                        city:- {{item.city}},<br>
                                        state:-{{item.state}},<br>
                                        <!-- Country:- {{item.country}}<br> -->
                                        Phone no;-{{item.phone}}<br>
                                        Postal Code:-{{item.postalCode}}

                                    </div>
                                    <div>
                                        <a class="edit" (click)="editAddress(item._id)"><i
                                                class="fa fa-pencil fa-fw"></i></a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div col-lg-4>
                        <div class="card" *ngIf="flag">
                            <h3 style="margin: 10px 10px;"> Edit address</h3>
                            <div class="add_user_list">
                                <form>
                                    <ul>
                                        <li>
                                            <label>Apartment<span class="red">*</span></label>
                                            <mat-form-field [floatLabel]="'never'">
                                                <input matInput type="text" placeholder="" [(ngModel)]="address1"
                                                    name="address1">
                                            </mat-form-field>
                                        </li>
                                        <li>
                                            <label>Building Name<span class="red">*</span></label>
                                            <mat-form-field [floatLabel]="'never'">
                                                <input matInput type="text" placeholder="" [(ngModel)]="address2"
                                                    name="address2">
                                            </mat-form-field>
                                        </li>
                                        <li>
                                            <label>Phone no<span class="red">*</span></label>
                                            <mat-form-field [floatLabel]="'never'">
                                                <input matInput type="text" placeholder="" [(ngModel)]="phone"
                                                    name="phone">
                                            </mat-form-field>
                                        </li>
                                        <li>
                                            <label>City <span class="red">*</span></label>
                                            <mat-form-field [floatLabel]="'never'">
                                                <input matInput type="text" placeholder="" [(ngModel)]="city"
                                                    name="city">
                                            </mat-form-field>
                                        </li>
                                        <li>
                                            <label>State<span class="red">*</span></label>
                                            <mat-form-field [floatLabel]="'never'">
                                                <input matInput type="email" placeholder="" [(ngModel)]="state"
                                                    name="state">
                                            </mat-form-field>
                                        </li>

                                        <li>
                                            <label>Postal code<span class="red">*</span></label>
                                            <mat-form-field [floatLabel]="'never'">
                                                <input matInput type="text" placeholder="" [(ngModel)]="postalCode"
                                                    name="postalCode">
                                            </mat-form-field>
                                        </li>
                                        <li hidden="true">
                                            <label>ID<span class="red">*</span></label>
                                            <mat-form-field [floatLabel]="'never'">
                                                <input matInput type="text" placeholder="" [(ngModel)]="editId"
                                                    name="editId">
                                            </mat-form-field>
                                        </li>


                                    </ul>
                                    <div class="update_button">
                                        <button mat-button (click)="UpdateAddress()">
                                            <span><i class="fa fa-window-restore"></i>
                                            </span>
                                            Update
                                        </button>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>