<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Edit Profile</h1>
                 
                </div>
                <!-----start input fields------>
                <div class="add_user_list">
                    <ul>
                        <li>
                            <label>Name</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Phone Number</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Email</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Location</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li class="social_links_name"> Social Links Information</li>

                        <li>
                            <label>Facebook</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Twitter</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Instagram</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>LinkedIn</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>

                        <li class="social_links_name"> App Store Links</li>

                        <li>
                            <label>App Store Link</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Google Play Link</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                       
                      
                      
                      
                        
                     
                    </ul>
                    <div class="update_button">
                        <button mat-button>
                         
                            Update
                        </button>
                    </div>
                </div>
                <!-----End input fields------>
              

            </div>
        </div>
    </div>
</div>

