.add_user_list ul li.social_links_name {
    width: 100%;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    color: #404553;
    margin:10px 0 15px;
}
.add_user_list ul li input.mat-input-element {
    font-size: 14px;
    line-height: 18px;
}