<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Edit Profile</h1>

                </div>
                <!-----start input fields------>
                <form [formGroup]="updateProfileForm">
                    <div class="add_user_list">
                        <ul>
                            <li>
                                <label>First Name</label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" formControlName="firstName"
                                        name="firstName">
                                </mat-form-field>
                                <div *ngIf="submitted && f.firstName.errors" class="custom-invalid">
                                    <div *ngIf="f.firstName.errors.required">
                                        First Name is required.
                                    </div>
                                    <div *ngIf="f.firstName.errors.maxlength">
                                        First Name should not be more than 25 characters.
                                    </div>



                                </div>
                            </li>
                            <li>
                                <label>Last Name</label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" formControlName="lastName"
                                        name="lastName">
                                </mat-form-field>
                                <div *ngIf="submitted && f.lastName.errors" class="custom-invalid">
                                    <div *ngIf="f.lastName.errors.required">
                                        Last Name is required.
                                    </div>

                                    <div *ngIf="f.lastName.errors.maxlength">
                                        Last Name should not be more than 25 characters.
                                    </div>


                                </div>
                            </li>

                            <li>
                                <label>Phone Number</label>
                                <div class="cardList">
                                    <mat-form-field style="width: 20%;" [floatLabel]="'never'">
                                        <input matInput type="number" min="0" id="firstInput"
                                            formControlName="countryCode" name="countryCode">
                                        <div *ngIf="submitted && f.countryCode.errors" class="custom-invalid">
                                            <div *ngIf="f.countryCode.errors.required">
                                                Country Code is required.
                                            </div>

                                        </div>

                                    </mat-form-field>
                                    <mat-form-field style="width: 80%;" [floatLabel]="'never'">
                                        <input matInput type="number" min="0" placeholder="" id="secondInput"
                                            formControlName="phone" name="phone">

                                        <div *ngIf="submitted && f.phone.errors" class="custom-invalid">
                                            <div *ngIf="f.phone.errors.required">
                                                Phone is required.
                                            </div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </li>
                            <!-- <li>
                                <label>Email</label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" formControlName="email" name="email">
                                </mat-form-field>
                            </li> -->
                            <li>
                                <label>Location</label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" formControlName="address" name="address">
                                </mat-form-field>
                                <div *ngIf="submitted && f.address.errors" class="custom-invalid">
                                    <div *ngIf="f.address.errors.required">
                                        Address is required.
                                    </div>



                                </div>
                            </li>
                            <li>
                                <label>Profile Picture</label>

                                <input type="file" placeholder="" (change)="profilePic($event)" accept="image/*"
                                    name="profilePic1">

                                <div class="user_img">
                                    <figure>
                                        <img style="height: 100px;width: 100px; margin-top: 10px; margin-left: 10px;"
                                            [src]="imagePreview != null ? imagePreview: imagePath+showProfilePic" />
                                    </figure>
                                    <div *ngIf="submitted && f.profilePic1.errors" class="custom-invalid">
                                        <div *ngIf="f.profilePic1.errors.required">
                                            profile Picture is required.
                                        </div>git stau

                                    </div>
                                </div>


                            </li>

                            <!-- <li class="social_links_name"> Social Links Information</li>

                        <li>
                            <label>Facebook</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Twitter</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Instagram</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>LinkedIn</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li> -->

                            <!-- <li class="social_links_name"> App Store Links</li>

                        <li>
                            <label>App Store Link</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li>
                        <li>
                            <label>Google Play Link</label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name">
                            </mat-form-field>
                        </li> -->






                        </ul>
                        <div class="update_button">
                            <button mat-button (click)="submit()">

                                Update
                            </button>
                        </div>
                    </div>
                </form>

                <!-----End input fields------>


            </div>
        </div>
    </div>
</div>