<div id="wrapper">

    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Dashboard</h1>
                </div>
                <div class="inner_data">
                    <div class="dashboard_boxs">
                        <div class="card border-left-primary shadow">
                            <div class="card-body" (click)="goTosalesgraph()">
                                <div class="left_card">
                                    <div class="left_heading">
                                        <h3> Sales</h3>
                                    </div>
                                    <div class="bottom_numbers">
                                        <p>{{this.dashboardData?.salesTotal}}</p>
                                    </div>
                                </div>
                                <div class="right_card">
                                    <i class="fa fa-user fa-2x"></i>
                                </div>
                            </div>
                        </div>

                        <div class="card border-left-success shadow">
                            <div class="card-body">
                                <div class="left_card">
                                    <div class="left_heading">
                                        <h3>Vendors</h3>
                                    </div>
                                    <div class="bottom_numbers">
                                        <p>{{this.dashboardData?.totalVendors}}</p>
                                    </div>
                                </div>
                                <div class="right_card">
                                    <i class="fa fa-product-hunt fa-2x" aria-hidden="true"></i>

                                </div>
                            </div>
                        </div>
                        <div class="card border-left-info shadow">
                            <div class="card-body" (click)="goToreveuegraph()">
                                <div class="left_card">
                                    <div class="left_heading">
                                        <h3>Revenue</h3>
                                    </div>
                                    <div class="bottom_numbers">
                                        <p>215,000</p>
                                    </div>
                                </div>
                                <div class="right_card">
                                    <i class="fa fa-line-chart fa-2x"></i>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="charts">
                    <ul>
                        <li>
                            <div class="chart_title">
                                <p>Sales</p>
                                <div class="filters Booking_status">
                                    <label>Filter</label>
                                    <select [(ngModel)]="periodSale" (change)="periodChanged($event)">
                                        <!-- <option>Daily</option> -->
                                        <option value="weekly">Weekly</option>
                                        <option value="monthly">Monthly</option>
                                        <option value="yearly">Yearly</option>
                                    </select>
                                </div>
                            </div>
                            <div class="user_charts" *ngIf="chartReady">
                                <!-- <app-graph></app-graph> -->
                                <canvas baseChart [datasets]="barChartDataSale" [labels]="barChartLabelSale"
                                    [options]="barChartOptionsSale" [plugins]="barChartPluginsSale"
                                    [legend]="barChartLegendSale" [chartType]="barChartTypeSale">
                                </canvas>
                            </div>
                        </li>

                        <li>
                            <div class="chart_title">
                                <p>Vendors</p>
                                <div class="filters Booking_status">
                                    <label>Filter</label>
                                    <select [(ngModel)]="vendorFilter" (change)="vendorPeriodChanged($event)">
                                        <!-- <option>Daily</option> -->
                                        <option value="weekly">Weekly</option>
                                        <option value="monthly">Monthly</option>
                                        <option value="yearly">Yearly</option>
                                    </select>
                                </div>
                            </div>
                            <div class="user_charts" *ngIf="chartReady">
                                <!-- <app-graph></app-graph> -->
                                <canvas baseChart [datasets]="barChartDataVendor" [labels]="barChartLabelVendor"
                                    [options]="barChartOptionsVendor" [plugins]="barChartPluginsVendor"
                                    [legend]="barChartLegendVendor" [chartType]="barChartTypeVendor">
                                </canvas>
                            </div>
                        </li>
                        <li>
                            <div class="chart_title">
                                <p>Revenue</p>
                                <div class="filters Booking_status">
                                    <label>Filter</label>
                                    <select>
                                        <!-- <option>Daily</option> -->
                                        <option>Weekly</option>
                                        <option>Monthly</option>
                                        <option>Yearly</option>
                                    </select>
                                </div>
                            </div>
                            <div class="user_charts">

                                <!-- <app-graph></app-graph> -->
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                </canvas>
                            </div>
                        </li>
                        <!-- <li>
                            <div class="chart_title">
                                <p>Current Order listing</p>
                            </div>
                            <div class="user_charts">
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                </canvas>
                            </div>
                        </li> -->
                    </ul>
                </div>

                <div class="current_Admins">
                    <div class="sub_heading">
                        <h1>Current Sales </h1>
                        <!-- <div class="top_subheading_add">
                            <a (click)="goToaddinventory()"><span>+</span>Add Inventory</a>
                        </div> -->
                    </div>
                    <div class="outer_table">
                        <div class="search_fields">
                            <div class="filters Booking_status">
                                <label>Filter</label>
                                <select [(ngModel)]="filterBy" (change)="filterSelected($event)">
                                    <option *ngIf="flag==true" value="">Remove Filter</option>
                                    <option *ngIf="flag==false" value=""></option>
                                    <option *ngFor="let item of filterList" value="{{item.value}}">
                                        {{item.viewValue}}
                                    </option>

                                    <!-- <option value="active">Active</option>
                                            <option value="inactive">Inactive</option> -->
                                    <!-- <option value="lastName"></option> -->
                                </select>
                            </div>
                            <div class="search_inner_fiels">
                                <div class="filters Booking_status">
                                    <label>Search</label>
                                    <div class="search_with_icons">
                                        <mat-form-field [floatLabel]="'never'">
                                            <input matInput type="text" [(ngModel)]="search" placeholder="">
                                        </mat-form-field>
                                        <i *ngIf="flagSearch==true" class="fa fa-search" aria-hidden="true"
                                            (click)="searchMethod()"></i>
                                        <i *ngIf="flagSearch==false" class="fa fa-times" aria-hidden="true"
                                            (click)="clearSearch()"></i>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="table-responsive">
                            <table>
                                <tr>
                                    <th>Sr no</th>
                                    <th>Product Name</th>
                                    <th>Product category</th>
                                    <th>Product sub category</th>

                                    <th>ISBN Number</th>
                                    <th>SKU Number</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>User name</th>
                                    <th>User Address</th>
                                    <th>Order Date</th>
                                    <th>Except Delivery Date</th>
                                    <th>Delivery Date</th>
                                    <th>Status</th>

                                </tr>
                                <tr *ngFor="let item of salesListData; let i=index">
                                    <td *ngIf="flagUserList==true">{{srNo+i+1}}</td>
                                    <td *ngIf="flagUserList==false">{{i+1}}</td>
                                    <td>{{item.productId.name}}</td>
                                    <td>{{item.productId.category.name}}</td>
                                    <td>{{item.productId.subCategory.name}}</td>
                                    <td>{{item.productId.isbn}}</td>
                                    <td>{{item.productId.sku}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.totalAmount|number}}</td>
                                    <td>{{item.userId.firstName}} {{item.userId.lastName}}</td>
                                    <td>{{item.deliveryAddress.address1}}, {{item.deliveryAddress.address2}},
                                        {{item.deliveryAddress.city}}, {{item.deliveryAddress.state}},
                                        {{item.deliveryAddress.postalCode}}</td>
                                    <td>{{item.createdAt|date}}</td>
                                    <td>{{item.deliveryDate==null?"Not Assigened Yet":item.deliveryDate|date}}</td>
                                    <td>{{item.deliveredDate==null?"Not Delivered Yet":item.deliveredDate|date}}</td>
                                    <td>

                                        {{item.status}}
                                    </td>


                                </tr>

                            </table>
                        </div>
                    </div>
                    <!-----start pagination-->
                    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="pageEvent = productListAfterPageSizeChanged($event)">
                    </mat-paginator>
                    <!-----end pagination-->

                </div>

            </div>
        </div>
    </div>
</div>