<div id="wrapper">

    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Dashboard</h1>
                </div>
                <div class="inner_data" *ngIf="dashboardData">
                    <div class="dashboard_boxs">


                        <div class="card border-left-success shadow">
                            <div class="card-body" [routerLink]="['/manageUser']" routerLinkActive="router-link-active" >
                                <div class="left_card">
                                    <div class="left_heading">
                                        <h3>Total Users </h3>
                                    </div>
                                    <div class="bottom_numbers">
                                        <p>{{dashboardData?.totalUsers}}</p>
                                    </div>
                                </div>
                                <div class="right_card">
                                    <i class="fa fa-user fa-2x"></i>


                                </div>
                            </div>
                        </div>
                        <div class="card border-left-primary shadow" *ngIf="roles.roles=='admin'">
                            <div class="card-body" [routerLink]="['/ordermanagement']" routerLinkActive="router-link-active" >
                                <!-- (click)="goTosalesgraph()" -->
                                <div class="left_card">
                                    <div class="left_heading">
                                        <h3>Total Orders</h3>
                                    </div>
                                    <div class="bottom_numbers">
                                        <p>{{dashboardData?.totalOrders}}</p>
                                    </div>
                                </div>
                                <!-- https://gitlab.com/varuntyagi/markat.git
 -->
                                <div class="right_card">
                                    <i class="fa fa-product-hunt fa-2x" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card border-left-info shadow">
                            <div class="card-body"  [routerLink]="['/manageUser']" routerLinkActive="router-link-active">
                                <div class="left_card">
                                    <div class="left_heading">
                                        <h3>New Users</h3>
                                    </div>
                                    <div class="bottom_numbers">
                                        <p>{{dashboardData?.newUsers}}</p>
                                    </div>
                                </div>
                                <div class="right_card">
                                    <i class="fa fa-line-chart fa-2x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card border-left-warning shadow">
                            <div class="card-body" [routerLink]="['/ordermanagement']" routerLinkActive="router-link-active">
                                <div class="left_card">
                                    <div class="left_heading">
                                        <h3>New Orders</h3>
                                    </div>
                                    <div class="bottom_numbers">
                                        <p>{{dashboardData?.newOrders}}</p>
                                    </div>
                                </div>
                                <div class="right_card">
                                    <i class="fa fa-bar-chart fa-2x"></i>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="charts">
                    <ul>
                        <li>
                            <div class="chart_title">
                                <p>Sales</p>
                                <div class="filters Booking_status">
                                    <mat-form-field class="col-6">
                                        <mat-label>Location<span class="red">*</span></mat-label>

                                        <mat-select (selectionChange)='geofenceChange($event.value)' placeholder="Filter">
                                            <mat-option *ngIf="flag==true" >
                                                Remove Filter
                                            </mat-option>

                                            <mat-option *ngFor='let item of geofenceList' [value]="item._id">
                                                {{item.name}}
                                            </mat-option>
                                            <!-- <mat-option value="inactive">
                                                Location 2
                                            </mat-option>
                                            <mat-option value="inactive">
                                                Location 3
                                            </mat-option> -->
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-6">
                                        <mat-label>Filter<span class="red">*</span></mat-label>

                                        <mat-select (selectionChange)='periodChanged($event.value)' placeholder="Filter">
                                          

                                            <mat-option value='weekly' >
                                                Weekly
                                            </mat-option>
                                            <mat-option value="monthly">
                                                Monthly
                                            </mat-option>
                                            <mat-option value="yearly">
                                                Yearly
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="user_charts" *ngIf="chartReady">
                                <!-- <app-graph></app-graph> -->
                                <canvas baseChart [datasets]="barChartDataSale" [labels]="barChartLabelSale"
                                    [options]="barChartOptionsSale" [plugins]="barChartPluginsSale"
                                    [legend]="barChartLegendSale" [chartType]="barChartTypeSale">
                                </canvas>
                            </div>
                        </li>

                      
                        <li>
                            <div class="chart_title">
                                <p>Revenue</p>
                                <div class="filters Booking_status">

                                    <mat-form-field class="col-6">
                                        <mat-label>Filter<span class="red">*</span></mat-label>

                                        <mat-select (selectionChange)='revenuePeriodChanged($event.value)' placeholder="Filter">
                                          

                                            <mat-option value='weekly' value="active">
                                                Weekly
                                            </mat-option>
                                            <mat-option value="monthly">
                                                Monthly
                                            </mat-option>
                                            <mat-option value="yearly">
                                                Yearly
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="user_charts" *ngIf="chartReady">

                                <!-- <app-graph></app-graph> -->
                                <canvas baseChart [datasets]="barChartDataRevenue" [labels]="barChartLabelrevenue"
                                    [options]="barChartOptionsRevenue" [plugins]="barChartPluginsRevenue"
                                    [legend]="barChartLegendRevenue" [chartType]="barChartTypeRevenue">
                                </canvas>
                            </div>
                        </li>
                        <!-- <li>
                            <div class="chart_title">
                                <p>Current Order listing</p>
                            </div>
                            <div class="user_charts">
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                                    [chartType]="barChartType">
                                </canvas>
                            </div>
                        </li> -->
                    </ul>
                </div>

                <div class="current_Admins">
                    <div class="sub_heading">
                        <h1>Current Sales </h1>
                        <!-- <div class="top_subheading_add">
                            <a (click)="goToaddinventory()"><span>+</span>Add Inventory</a>
                        </div> -->
                    </div>
                    <div class="outer_table">
                        <div class="search_fields">

                            <div class="search_fields">
                                <div class="filters Booking_status">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Filter<span class="red">*</span></mat-label>

                                        <mat-select placeholder="Filter" [(ngModel)]="filterBy"
                                            (selectionChange)="filterSelected($event)">
                                            <mat-option *ngIf="flag==true" value="">
                                                Remove Filter
                                            </mat-option>
                                            <mat-option value='new'>
                                                New
                                            </mat-option>
                                            <mat-option value='onTheWay'>
                                                On The Way
                                            </mat-option>
                                            <mat-option value='ready'>
                                                Ready
                                            </mat-option>
                                            <mat-option value='completed'>
                                                Completed
                                            </mat-option>
                                            <mat-option value='cancelled'>
                                                Cancelled
                                            </mat-option>
                                            <mat-option value='preparing'>
                                                Preparing
                                            </mat-option>
                                            <mat-option value='ready'>
                                                Ready
                                            </mat-option>
                                            <mat-option value='rejected'>
                                                Rejected
                                            </mat-option>
                                          

                                        </mat-select>
                                    </mat-form-field>
                                </div>


                                <div class="search_inner_fiels">
                                    <div class="filters Booking_status">
                                        <div class="search_with_icons">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Search</mat-label>

                                                <input matInput type="text" [(ngModel)]="search" placeholder="">
                                            </mat-form-field>
                                            <button mat-button matSuffix mat-icon-button> <i *ngIf="flagSearch==true"
                                                    class="fa fa-search" aria-hidden="true"
                                                    (click)="searchMethod()"></i>
                                                <i *ngIf="flagSearch==false" class="fa fa-times" aria-hidden="true"
                                                    (click)="clearSearch()"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>	<div *ngIf="flagData==true">
                            <h1>No Data Found</h1>

                        </div>
                        <div *ngIf="flagData==false" class="table-responsive divAboveTable">
                            <table>
                                <tr>
                                    <th>Sr.no</th>
                                    <th>Order Id</th>
                                    <th>Food </th>
                                    <th>Price</th>
                                    <th>User Address</th>
                                    <th>Vendor</th>
                                    <th>Order Date</th>
                                    <th>Delivery Time</th>
                                    <th>Status</th>
                                    <!-- <th class="action_bx">Action</th> -->
                                </tr>
                                <tr *ngFor="let item of orderHistoryList; index as i ">
                                    <td *ngIf="flagUserList==false">{{i+1}}</td>
                                    <td *ngIf="flagUserList==true">{{srNo+i+1}}</td>
                                    <td>{{item?._id}}</td>
                                    <td>
                                        <table style="max-width: 100%;" >
                                            <tr>
                                                <th>Food Name</th>
                                                <th>Purchase Quantity</th>
                                            </tr>
                                            <tr *ngFor="let item2 of item.orderDetails">
                                                <td>{{item2?.product?.name}}</td>
                                                <td>{{item2?.product?.purchaseQuantity}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>{{item?.orderDetails[0].totalAmount | number}}</td>

                                    <td>{{item?.orderDetails[0].deliveryAddress?.address}},{{item?.orderDetails[0].deliveryAddress?.streetName}}{{item?.orderDetails[0].deliveryAddress?.postalCode}}
                                    </td>
                                    <td>{{item?.orderDetails[0].seller?.fullName}}</td>
                                    <td>{{item?.orderDetails[0].createdAt | date}}</td>
                                    <td>{{item?.orderDetails[0].deliveryTime}}Min</td>
                                    <td>{{item?.orderDetails[0].status}}
                                    </td>
                                
                                </tr>


                            </table>
                        </div>
                    </div>
                    <!-----start pagination-->
                    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                        (page)="pageEvent = productListAfterPageSizeChanged($event)">
                    </mat-paginator>
                    <!-----end pagination-->

                </div>

            </div>
        </div>
    </div>
</div>