<div class="login_div">
    <div class="conta_iner">
        <div class="logininner">
            <div class="logo">
                <figure><img src="../../assets/images/logo.png"></figure>
            </div>
            <form [formGroup]=forgetPasswordForm (ngSubmit)=goToLogin()>
                <div class="sub_main_heading">
                    <h2>Forgot Password</h2>
                </div>
                <div class="input_divs">
                    <mat-form-field [floatLabel]="'never'">
                        <input matInput formControlName="email" type="email" name="email" placeholder="Email">
                        <div *ngIf="submitted && f.email.errors" class="custom-invalid">
                            <div *ngIf="f.email.errors.required">
                                EmailId is required.
                            </div>
                            <div *ngIf="f.email.errors.email">
                                Please enter a valid email id.
                            </div>

                        </div>

                    </mat-form-field>
                </div>
                <div class="input_divs input_button">
                    <a><button mat-button type="submit"> Submit</button></a>
                </div>
            </form>
        </div>
    </div>
</div>