input.mat-input-element,
.mat-select {
    padding: 13px 16px;
}

.custom-invalid {
    color: red;
    display: block;

}

.main_heading {
    font-family: monospace;
    font-size: 48px;

    text-shadow: 2px 2px #ffa200;
}