<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>{{title}} Promo Code</h1>
                    <div class="input_divs2 input_button input_button2">
                        <button class="btn_back" mat-button (click)="goToinventory()"><i class="fa fa-long-arrow-left"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
                <form [formGroup]="addPromoCodeForm">
                    <!-----start input fields------>
                    <div class="add_user_list">
                        <ul>
                            <li>

                                <mat-form-field class="example-full-width">
                                    <mat-label>Promo Code <span class="red">*</span></mat-label>
                                    <input matInput type="text" placeholder="Product Id" formControlName="code"
                                        name="code">
                                    <mat-error *ngIf="addPromoCodeForm.get('code').hasError('required')">
                                        Promo Code Name is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <!-- <label>Start Date <span class="red">*</span></label> -->
                                <!-- <mat-form-field>
                                    <mat-label>Expire Date<span class="red">*</span></mat-label>
                                    <input matInput [matDatepicker]="disabletext" formControlName="expiry" type="date"
                                        [min]="today" placeholder="Expire Date" name="name" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="disabletext">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #disabletext disabled="false">
                                    </mat-datepicker>

                                    <mat-error *ngIf="addPromoCodeForm.get('expiry').hasError('required')">
                                        Expire Date is <strong>required</strong>
                                    </mat-error>

                                </mat-form-field> -->
                                <mat-form-field>
                                    <mat-label>Expire Date<span class="red">*</span></mat-label>
                                    <input matInput [min]='today' [matDatepicker]="disabletext" formControlName="expiry"
                                        placeholder="Please Chose Date" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="disabletext">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #disabletext disabled="false">
                                    </mat-datepicker>
                                </mat-form-field>
                            </li>

                            <li>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Description <span class="red">*</span></mat-label>
                                    <input matInput type="text" placeholder="Description" formControlName="description"
                                        name="name">
                                    <mat-error *ngIf="addPromoCodeForm.get('description').hasError('required')">
                                        Description is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Min Cart Value <span class="red">*</span></mat-label>
                                    <input matInput type="number" min="0" placeholder="Min Cart Value"
                                        formControlName="minCartValue" name="name">
                                    <mat-error *ngIf="addPromoCodeForm.get('minCartValue').hasError('required')">
                                        Min Cart Value is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="addPromoCodeForm.get('minCartValue').hasError('min')">
                                        Min Cart Value can not <strong>less then 0</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field class="example-full-width readonly-wrapper">
                                    <mat-label>Discount Type <span class="red">*</span></mat-label>
                                    <mat-select class="readonly-block" placeholder="Discount Type" disable='true' formControlName="discountType">

<!-- (selectionChange)='updateValidation($event)' -->
                                        <!-- <mat-option value="FLAT">
                                            Flat
                                        </mat-option> -->
                                        <mat-option value="PERCENT">
                                            Percentage
                                        </mat-option>

                                    </mat-select>
                                    <mat-error *ngIf="addPromoCodeForm.get('discountType').hasError('required')">
                                        Discount Type is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Discount <span class="red">*</span></mat-label>
                                    <input matInput type="number" min="0" max="100" placeholder="Discount"
                                        formControlName="discount" name="name">
                                    <mat-error *ngIf="addPromoCodeForm.get('discount').hasError('required')">
                                        Discount is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="addPromoCodeForm.get('discount').hasError('min')">
                                        Discount can not <strong>less then 0</strong>
                                    </mat-error>
                                    <mat-error *ngIf="addPromoCodeForm.get('discount').hasError('max')">
                                        Dsicount can not <strong>more then 100</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                            <li>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Max Discount <span class="red">*</span></mat-label>
                                    <input matInput type="number" placeholder="Max Discount"
                                        formControlName="maxDiscount" name="name">
                                    <mat-error *ngIf="addPromoCodeForm.get('maxDiscount').hasError('required')">
                                        Max Discount is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="addPromoCodeForm.get('maxDiscount').hasError('min')">
                                        Max Discount can not <strong>less then 0</strong>
                                    </mat-error>
                                    <mat-error *ngIf="addPromoCodeForm.get('maxDiscount').hasError('max')">
                                        Max Discount can not <strong>more then 100</strong>
                                    </mat-error>
                                    <mat-error *ngIf="addPromoCodeForm.get('maxDiscount').hasError('moreThan')">
                                        Max Discount cannot be more than <strong>Discount</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>

                            <li>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Frequency Per User <span class="red">*</span></mat-label>
                                    <input matInput type="number" placeholder="Frequency Per User"
                                        formControlName="freqPerUser" name="name">
                                    <mat-error *ngIf="addPromoCodeForm.get('freqPerUser').hasError('required')">
                                        Frequency Per User is <strong>required</strong>
                                    </mat-error>
                                    <mat-error *ngIf="addPromoCodeForm.get('freqPerUser').hasError('min')">
                                        Frequency Per User can not <strong>less then 0</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>

                            <li>
                                <mat-form-field class="example-full-width">
                                    <mat-label>Exhaust Limit <span class="red">*</span></mat-label>
                                    <input matInput type="number" placeholder="Exhaust Limit"
                                        formControlName="exhaustLimit" name="name">
                                    <mat-error *ngIf="addPromoCodeForm.get('exhaustLimit').hasError('required')">
                                        Exhaust Limit is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>
                            </li>
                        </ul>
                    </div>
                    <!-----End input fields------>
                    <div class="update_button">
                        <button mat-button (click)="onSubmit()">
                            <span><i class="fa fa-window-restore"></i>
                            </span>
                            {{buttonText}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="loader_bg" *ngIf="progress">
    <div class="spinner-grow " style="width: 5rem; height: 5rem; color:#97334b ;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
