<div id="wrapper">
	<app-navbar></app-navbar>
	<div id="content-wrapper" class="">
		<div id="content">
			<app-sidebar></app-sidebar>
			<div class="container-fluid">
				<div class="sub_heading">
					<h1>{{name}} Purchase History</h1>
					<div class="input_divs2 input_button input_button2">
						<button class="btn_back" mat-button (click)="back()"><i class="fa fa-long-arrow-left"
								aria-hidden="true"></i></button>
					</div>
				</div>


				<div class="tab-content">
					<div id="allOrders" class="tab-pane fade in active">
						<div class="inner_content">
							<div class="outer_table">
								<div class="search_fields">
									<div class="filters Booking_status">
										<mat-form-field>
										<mat-label>Filter</mat-label>
										<mat-select [(ngModel)]="filter" (change)="filterSelected($event)">
											<mat-option *ngIf="flag==true" value="">Remove Filter</mat-option>
											<mat-option *ngIf="flag==false" value=""></mat-option>
											<mat-option *ngFor="let item of optionList" value="{{item}}">{{item}}</mat-option>

										</mat-select>
									</mat-form-field>
									</div>
									<div class="search_inner_fiels">
										<div class="filters Booking_status">
											<label>Search</label>
											<div class="search_with_icons">
												<mat-form-field [floatLabel]="'never'">
													<input matInput type="text" name="search" [(ngModel)]="search"
														placeholder="">
												</mat-form-field>
												<a>
													<i *ngIf="flagSearch==true" class="fa fa-search"
														(click)="searchSubmit()" aria-hidden="true"></i></a>
												<a>
													<i *ngIf="flagSearch==false" class="fa fa-times"
														(click)="clearSearch()" aria-hidden="true"></i></a>
											</div>
										</div>

									</div>
								</div>
								<div *ngIf="flagData==true">
									<h1>No Data Found</h1>

								</div>
								<div *ngIf="flagData==false" class="table-responsive divAboveTable">
									<table>
										<tr>
											<th>Sr.no</th>
											<th>Order Id</th>
											<th>Food Name</th>
											<th>Food category</th>
											<th>Food sub category</th>

										
											<th>Quantity</th>
											<th>Price</th>

											<th>User Address</th>
											<th>Order Date</th>
											<th>Delivery Date</th>
											<th>Status</th>
											<!-- <th class="action_bx">Action</th> -->
										</tr>
										<tr *ngFor="let item of orderHistoryList;   index as i ">
											<td *ngIf="flagUserList==false">{{i+1}}</td>
											<td *ngIf="flagUserList==true">{{srNo+i+1}}</td>
											<td>{{item.orderId}}</td>
											<td>{{item.productId.name}}</td>
											<td>{{item.productId.category.name}}</td>
											<td>{{item.productId.subCategory.name}}</td>
											<td>{{item.productId.isbn}}</td>
											<td>{{item.productId.sku}}</td>
											<td>{{item.productId.productQuantity}}</td>
											<td>{{item.totalAmount}}</td>

											<td>{{item.deliveryAddress.address1}},{{item.deliveryAddress.address2}},{{item.deliveryAddress.city}},{{item.deliveryAddress.state}}
											</td>
											<td>{{item.createdAt | date}}</td>
											<td>{{item.deliveryDate}}</td>
											<td>{{item.status}}
											</td>
											<!-- 					
						<td>
							<div class="action">
								<ul>
									<li class="show" (click)="goToviewOrder()"><i class="fa fa-eye"></i></li>
									<li class="edit" (click)="goToeditOrder()"><i class="fa fa-pencil fa-fw"></i></li>
									<li class="delete"><i class="fa fa-trash-o fa-fw"></i></li>
								</ul>
							</div>
						</td> -->
										</tr>



									</table>
									<!-----start pagination-->
									<mat-paginator [length]="length" [pageSize]="pageSize"
										[pageSizeOptions]="[5, 10, 25, 100]"
										(page)="pageEvent = orderHistoryListAfterPageSizeChanged($event)">

									</mat-paginator>
									<!-----end pagination-->
								</div>
							</div>

						</div>
					</div>

				</div>



			</div>
		</div>
	</div>
</div>