<div id="wrapper" #wrapper>
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Settings</h1>
                    <div class="top_subheading_add">
                        <!-- <a style="margin-left: 1em;" (click)="back()">Go Back</a> -->
                    </div>
                </div>
                <div class="add_user_list">
                    <form [formGroup]="updateSetting" *ngIf="false">
                        <ul class="card">
                            <li class="social_links_name"> Social Links Information</li>

                            <li>
                                <label>Facebook</label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" formControlName="facebook" placeholder="" name="name">
                                </mat-form-field>
                                <div class="custom-invalid"
                                    *ngIf="submitted && updateSetting.controls['facebook'].hasError('required')">
                                    Facebook link is <strong>required</strong>
                                </div>
                            </li>
                            <li>
                                <label>Twitter</label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" formControlName="twitter" name="name">
                                </mat-form-field>
                                <div class="custom-invalid"
                                    *ngIf="submitted && updateSetting.controls['twitter'].hasError('required')">
                                    Facebook link is <strong>required</strong>
                                </div>
                            </li>
                            <li>
                                <label>Instagram</label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" formControlName="instagram" placeholder="" name="name">
                                </mat-form-field>
                                <div class="custom-invalid"
                                    *ngIf="submitted && updateSetting.controls['instagram'].hasError('required')">
                                    Facebook link is <strong>required</strong>
                                </div>
                            </li>
                            <li>
                                <label>LinkedIn</label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" formControlName="linkedIn" placeholder="" name="name">
                                </mat-form-field>
                                <div class="custom-invalid"
                                    *ngIf="submitted && updateSetting.controls['linkedIn'].hasError('required')">
                                    Facebook link is <strong>required</strong>
                                </div>
                            </li>

                            <li class="social_links_name"> App Store Links</li>

                            <li>
                                <label>App Store Link</label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" placeholder="" formControlName="appStoreLink"
                                        name="name">
                                </mat-form-field>
                                <div class="custom-invalid"
                                    *ngIf="submitted && updateSetting.controls['appStoreLink'].hasError('required')">
                                    Facebook link is <strong>required</strong>
                                </div>
                            </li>
                            <li>
                                <label>Google Play Link</label>
                                <mat-form-field [floatLabel]="'never'">
                                    <input matInput type="text" formControlName="googlePlayLink" placeholder=""
                                        name="name">
                                </mat-form-field>
                                <div class="custom-invalid"
                                    *ngIf="submitted && updateSetting.controls['googlePlayLink'].hasError('required')">
                                    Facebook link is <strong>required</strong>
                                </div>
                            </li>


                            <li class="col-md-2">
                                <button mat-button class="button" (click)="updateTax()">Update URLs</button>
                            </li>
                        </ul>
                    </form>

                    <!--Table for Size  -->
                    <ul class="card">


                        <li class="row">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>Size Chart</label>
                                </div>

                                <div class="col-md-2 pb-2">
                                    <div *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.setting.write==true)" class="top_subheading_add">
                                        <button class=" rounded-pill btn btn-primary text-white" data-toggle="modal"
                                            id="addSizeButton" data-target="#largeModal">+ Add
                                            Size
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>

                                        <th>Size Name</th>
                                        <th>Size name malay</th>
                                        <th *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.setting.write==true)">Action</th>

                                    </tr>
                                    <tr *ngFor="let item of sizeList; let i=index">
                                        <td>{{item.name}}</td>
                                        <td>{{item.name_ar}}</td>
                                        <td *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.setting.write==true)">
                                            <!-- <a href="javascript:;" data-toggle="modal"
                                                (click)="editShippingCharge(item._id)" data-target=" #editlargeModal">
                                                <i class="fa fa-edit"></i>
                                            </a> -->
                                            <button style="background-color: transparent !important;"
                                                (click)="editSize(item._id)" data-toggle="modal"
                                                data-target="#editlargeModal"> <i class="fa fa-edit"></i></button>
                                            <button (click)="deleteSize(item._id)"> <i class="fa fa-trash"></i></button>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    <!--Table for Size ends -->
                    <!--Table for Tea Type  -->
                    <ul class="card">


                        <li class="row">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>Tea Type Chart<span class="red">*</span></label>
                                </div>

                                <div class="col-md-2 pb-2">
                                    <div *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.setting.write==true)" class="top_subheading_add">
                                        <button data-toggle="modal" class=" rounded-pill btn btn-primary text-white"
                                            data-target="#TealargeModal"><i class="fa fa-plus"></i> Add
                                            Tea Type
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <th>Tea Name</th>
                                        <th>Tea name malay</th>
                                        <th *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.setting.write==true)">Action</th>
                                    </tr>
                                    <tr *ngFor="let item of teaTypeList; let i=index">
                                        <td>{{item.name}}</td>
                                        <td >{{item.name_ar}}</td>
                                        <td *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.setting.write==true)">
                                            <button style="background-color: transparent !important;"
                                                (click)=" editTeaType(item._id)" data-toggle="modal"
                                                data-target="#editTealargeModal"> <i class="fa fa-edit"></i></button>
                                            <button (click)="deleteTeaType(item._id)"> <i
                                                    class="fa fa-trash"></i></button>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                    <!--Table for  ends -->
                    <!-- table for sugar level -->
                    <ul class="card">


                        <li class="row">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>Sugar level Chart<span class="red">*</span></label>
                                </div>

                                <div class="col-md-2 pb-2">
                                    <div *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.setting.write==true)" class="top_subheading_add">
                                        <button class="rounded-pill btn btn-primary text-white" data-toggle="modal"
                                            data-target="#sugarlargeModal"><i class="fa fa-plus"></i> Add
                                            Sugar Level
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>
                                        <th>Sugar Level Name</th>
                                        <th>Sugar Level name malay</th>
                                        <th *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.setting.write==true)">Action</th>
                                    </tr>
                                    <tr *ngFor="let item of sugarLevelList; let i=index">
                                        <td>{{item.name}}</td>
                                        <td>{{item.name_ar}}</td>
                                        <td *ngIf="user.roles=='admin' || (user.roles=='subAdmin' && user.permissions.setting.write==true)">
                                            <button style="background-color: transparent !important;"
                                                (click)=" editSugarLevel(item._id)" data-toggle="modal"
                                                data-target="#editSugarlargeModal"> <i class="fa fa-edit"></i></button>
                                            <button (click)="deleteSugarLevel(item._id)"> <i
                                                    class="fa fa-trash"></i></button>
                                    </tr>
                                </table>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Add shipping Charges Modal Start From here -->

<div id="largeModal" class="modal fade" data-backdrop=false tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Size</h5>
                <button type="button" id="closeAddSizeForm" (click)="focus()" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body add_user_list">
                <form [formGroup]="sizeFormGroup">
                    <ul>

                        <li>



                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input type="text" aria-label="Number" matInput formControlName="name">
                                <mat-error *ngIf="sizeFormGroup.controls['name'].hasError('required')">
                                    Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="sizeFormGroup.controls['name'].hasError('maxlength')">
                                    Name can be max of <strong>30 Characters</strong>
                                </mat-error>
                            </mat-form-field>



                        </li>

                        <li class="row">
                            <mat-form-field [floatLabel]="'never'">
                                <mat-label>Malay Name</mat-label>
                                <input type="text" aria-label="text" matInput formControlName="name_ar">
                                <mat-error *ngIf="sizeFormGroup.controls['name_ar'].hasError('required')">
                                    Malay Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </li>

                    </ul>
                </form>
            </div>
            <div class="modal-footer">

                <button mat-button class="button" [ngClass]="{'disabled': sizeFormGroup.invalid==true}"
                    [disabled]='sizeFormGroup.invalid' (click)="saveSize()">Save</button>

            </div>
        </div>
    </div>
</div>
<!-- MOdal ends here -->
<div id="TealargeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Tea Type</h5>
                <button type="button" id="closeAddTeaTypeForm" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body add_user_list">
                <form [formGroup]="teaTypeGroup">
                    <ul>

                        <li>



                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input type="text" aria-label="Number" matInput formControlName="name">
                                <mat-error *ngIf="teaTypeGroup.controls['name'].hasError('required')">
                                    Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="teaTypeGroup.controls['name'].hasError('maxlength')">
                                    Name can be max of <strong>30 Characters</strong>
                                </mat-error>
                            </mat-form-field>



                        </li>

                        <li class="row">
                            <mat-form-field [floatLabel]="'never'">
                                <mat-label>Malay Name</mat-label>
                                <input type="text" aria-label="text" matInput formControlName="name_ar">
                                <mat-error *ngIf="teaTypeGroup.controls['name_ar'].hasError('required')">
                                    Malay Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </li>

                    </ul>
                </form>
            </div>
            <div class="modal-footer">

                <button mat-button class="button" [ngClass]="{'disabled': teaTypeGroup.invalid==true}"
                    [disabled]='teaTypeGroup.invalid' (click)="saveTeaType()">Save</button>

            </div>
        </div>
    </div>
</div>
<!-- tea type modal ends here -->
<!-- sugar level modal starts here -->
<div id="sugarlargeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Sugar Level</h5>
                <button type="button" id="closeSugarLevelForm" class="close" data-dismiss="modal"
                    aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body add_user_list">
                <form [formGroup]="sugarlevelForm">
                    <ul>

                        <li>



                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input type="text" aria-label="Number" matInput formControlName="name">
                                <mat-error *ngIf="sugarlevelForm.controls['name'].hasError('required')">
                                    Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="sugarlevelForm.controls['name'].hasError('maxlength')">
                                    Name can be max of <strong>30 Characters</strong>
                                </mat-error>
                            </mat-form-field>



                        </li>

                        <li class="row">
                            <mat-form-field [floatLabel]="'never'">
                                <mat-label>Malay Name</mat-label>
                                <input type="text" aria-label="text" matInput formControlName="name_ar">
                                <mat-error *ngIf="sugarlevelForm.controls['name_ar'].hasError('required')">
                                    Malay Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </li>

                    </ul>
                </form>
            </div>
            <div class="modal-footer">

                <button mat-button class="button" [ngClass]="{'disabled': sugarlevelForm.invalid==true}"
                    [disabled]='sugarlevelForm.invalid' (click)="saveSugarLevel()">Save</button>

            </div>
        </div>
    </div>
</div>


<!--edit Size Charges Modal Start From here -->

<div id="editlargeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Size </h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body add_user_list">
                <form [formGroup]="sizeEditFormGroup">
                    <ul>

                        <li>




                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input type="text" aria-label="Number" matInput formControlName="name">
                                <mat-error *ngIf="sizeEditFormGroup.controls['name'].hasError('required')">
                                    Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="sizeEditFormGroup.controls['name'].hasError('maxlength')">
                                    Name can be max of <strong>30 Characters</strong>
                                </mat-error>
                            </mat-form-field>



                        </li>

                        <li class="row">
                            <mat-form-field [floatLabel]="'never'">
                                <mat-label>Malay Name</mat-label>
                                <input type="text" aria-label="text" matInput formControlName="name_ar">
                                <mat-error *ngIf="sizeEditFormGroup.controls['name_ar'].hasError('required')">
                                    Malay Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </li>

                    </ul>
                </form>
            </div>
            <div class="modal-footer">

                <button mat-button data-dismiss="modal" [ngClass]="{'disabled': sizeEditFormGroup.invalid==true}"
                    [disabled]='sizeEditFormGroup.invalid' class="button" (click)="updateSize()">Save</button>

            </div>
        </div>
    </div>
</div>
<!-- MOdal ends here -->
<!-- Edit tea level modal -->
<div id="editTealargeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Tea Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body add_user_list">
                <form [formGroup]="teaTypeEditForm">
                    <ul>
                        <li>
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input type="text" aria-label="Number" matInput formControlName="name">
                                <mat-error *ngIf="teaTypeEditForm.controls['name'].hasError('required')">
                                    Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="teaTypeEditForm.controls['name'].hasError('maxlength')">
                                    Name can be max of <strong>30 Characters</strong>
                                </mat-error>
                            </mat-form-field>
                        </li>
                        <li class="row">
                            <mat-form-field [floatLabel]="'never'">
                                <mat-label>Malay Name</mat-label>
                                <input type="text" aria-label="text" matInput formControlName="name_ar">
                                <mat-error *ngIf="teaTypeEditForm.controls['name_ar'].hasError('required')">
                                    Malay Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">

                <button mat-button data-dismiss="modal" [ngClass]="{'disabled': teaTypeEditForm.invalid==true}"
                    [disabled]='teaTypeEditForm.invalid' class="button" (click)="updateTeaType()">Save</button>

            </div>
        </div>
    </div>
</div>
<!-- modal end here -->
<!-- sugar level edit modal -->
<div id="editSugarlargeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Sugar Level</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body add_user_list">
                <form [formGroup]="sugarLevelEditForm">
                    <ul>
                        <li>
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input type="text" aria-label="Number" matInput formControlName="name">
                                <mat-error *ngIf="sugarLevelEditForm.controls['name'].hasError('required')">
                                    Name is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="sugarLevelEditForm.controls['name'].hasError('maxlength')">
                                    Name can be max of <strong>30 Characters</strong>
                                </mat-error>
                            </mat-form-field>
                        </li>
                        <li class="row">
                            <mat-form-field [floatLabel]="'never'">
                                <mat-label>Malay Name</mat-label>
                                <input type="text" aria-label="text" matInput formControlName="name_ar">
                                <mat-error *ngIf="sugarLevelEditForm.controls['name_ar'].hasError('required')">
                                    Malay Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="modal-footer">

                <button mat-button data-dismiss="modal" [ngClass]="{'disabled': sugarLevelEditForm.invalid==true}"
                    [disabled]='sugarLevelEditForm.invalid' class="button" (click)="updateSugarLevel()">Save</button>

            </div>
        </div>
    </div>
</div>
<!-- sugar level modal ends here -->