ul li {


    margin: 10px 25px;
}

input:read-only {
    cursor: not-allowed;
}

.disabled {
    background-color: grey !important;
    color: black !important;
    cursor: not-allowed !important;
}

.btn-primary.focus,
.btn-primary:focus {
    box-shadow: none;
}