<div id="wrapper">
    <app-navbar></app-navbar>
    <div id="content-wrapper" class="">
        <div id="content">
            <app-sidebar></app-sidebar>
            <div class="container-fluid">
                <div class="sub_heading">
                    <h1>Settings</h1>
                    <div class="top_subheading_add">
                        <a style="margin-left: 1em;" (click)="back()">Go Back</a>
                    </div>
                </div>
                <div class="add_user_list">
                    <ul class="card">
                        <li class="col-md-4">
                            <label>Tax Percentage<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="number" placeholder="" name="name" [(ngModel)]="tax">
                            </mat-form-field>
                        </li>

                        <li class="col-md-4">
                            <label>Apply Tax<span class="red">*</span></label>
                            <div>
                                <input type="checkbox" placeholder="" name="name" [(ngModel)]="applyTax">
                                {{applyTax==true?"Applied":""}}
                            </div>

                        </li>
                        <li class="col-md-2">
                            <button mat-button class="button" (click)="updateTax()">Update Tax</button>
                        </li>
                    </ul>


                    <ul class="card">


                        <li class="row">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>Shipping Rates<span class="red">*</span></label>
                                </div>

                                <div class="col-md-2 pb-2">
                                    <div class="top_subheading_add">
                                        <button mat-button (click)="openPopUp()" data-toggle="modal"
                                            data-target="#largeModal"><i class="fa fa-plus"></i> Add
                                            Shipping
                                            Rate</button>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <table>
                                    <tr>

                                        <th>Country</th>
                                        <th>Price range</th>
                                        <th>Shipping charges in this range</th>
                                        <th>Shipping charges below this range</th>
                                        <th>Shipping charges above this range</th>
                                        <th>Action</th>

                                    </tr>
                                    <tr *ngFor="let item of shippingChargesList; let i=index">
                                        <td>{{item.country}}</td>
                                        <td>{{item.minPrice}}-{{item.maxPrice}}</td>
                                        <td>{{item.rangePrice}}</td>
                                        <td>{{item.belowPrice}}</td>
                                        <td>{{item.abovePrice}}</td>
                                        <td>
                                            <!-- <a href="javascript:;" data-toggle="modal"
                                                (click)="editShippingCharge(item._id)" data-target=" #editlargeModal">
                                                <i class="fa fa-edit"></i>
                                            </a> -->
                                            <button style="background-color: transparent !important;"
                                                (click)="editShippingCharge(item._id)" data-toggle="modal"
                                                data-target="#editlargeModal"> <i class="fa fa-edit"></i></button>
                                            <button (click)="deleteShippingCharge(item._id)"> <i
                                                    class="fa fa-trash"></i></button>
                                    </tr>
                                </table>
                            </div>

                        </li>


                    </ul>
                </div>




            </div>
        </div>
    </div>
</div>


<!--Add shipping Charges Modal Start From here -->

<div id="largeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Shipping rate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body add_user_list">
                <form [formGroup]="zoneFormGroup">
                    <ul>

                        <li>

                            <label>Country<span class="red">*</span></label>


                            <mat-form-field>
                                <input type="text" list="browsers" (keyup)="onKey($event.target.value)"
                                    aria-label="Number" matInput formControlName="selectedCountry">
                                <datalist id="browsers">
                                    <option *ngFor="let body of showCountryList" value="{{body.name}}">
                                        {{body.name}}
                                    </option>
                                </datalist>

                            </mat-form-field>


                            <div class="custom-invalid"
                                *ngIf="submitted && zoneFormGroup.controls['selectedCountry'].hasError('required')">
                                Country is <strong>required</strong>
                            </div>


                        </li>

                        <li class="row">
                            <mat-form-field [floatLabel]="'never'">
                                <label>Shipping charges below this range<span class="red">*</span></label>
                                <div>
                                    <input matInput matInput type="number" placeholder=""
                                        formControlName="belowMinValue" name="name">
                                </div>
                                <div class="custom-invalid"
                                    *ngIf="submitted && zoneFormGroup.controls['belowMinValue'].hasError('required')">
                                    Shipping charges below this range is <strong>required</strong>
                                </div>
                            </mat-form-field>
                        </li>
                        <li>

                            <div class="row">
                                <mat-form-field [floatLabel]="'never'">
                                    <div class="col-lg-3">
                                        <label>Product min value<span class="red">*</span></label>
                                        <input matInput type="number" class="form-controll" placeholder=""
                                            formControlName="minValue" name="name">
                                    </div>
                                    <div class="custom-invalid"
                                        *ngIf=" submitted && zoneFormGroup.controls['minValue'].hasError('required')">
                                        Product min value is <strong>required</strong>
                                    </div>
                                </mat-form-field>
                                <mat-form-field [floatLabel]="'never'">
                                    <div class="col-lg-3 offset-lg-1">
                                        <label>Product max value<span class="red">*</span></label>
                                        <input matInput type="number" placeholder="" formControlName="maxValue"
                                            name="name">

                                    </div>
                                    <div class="custom-invalid"
                                        *ngIf=" submitted && zoneFormGroup.controls['maxValue'].hasError('required')">
                                        Product max value is <strong>required</strong>
                                    </div>
                                </mat-form-field>

                            </div>
                        </li>

                        <li class="row">
                            <mat-form-field [floatLabel]="'never'">
                                <label>Shipping charges in this range<span class="red">*</span></label>
                                <div>
                                    <input matInput type="number" placeholder="" formControlName="rangePrice"
                                        name="name">

                                </div>
                                <div class="custom-invalid"
                                    *ngIf=" submitted && zoneFormGroup.controls['rangePrice'].hasError('required')">
                                    Shipping charges in this range is <strong>required</strong>
                                </div>
                            </mat-form-field>
                        </li>


                        <li class="row">
                            <mat-form-field [floatLabel]="'never'">
                                <label>Price above max value<span class="red">*</span></label>
                                <div>
                                    <input matInput type="number" placeholder="" formControlName="aboveMaxValue"
                                        name="name">

                                </div>
                                <div class="custom-invalid"
                                    *ngIf=" submitted && zoneFormGroup.controls['aboveMaxValue'].hasError('required')">
                                    Price above max value is <strong>required</strong>
                                </div>
                            </mat-form-field>
                        </li>


                    </ul>
                </form>
            </div>
            <div class="modal-footer">

                <button mat-button class="button" (click)="saveZone()">Save</button>

            </div>
        </div>
    </div>
</div>
<!-- MOdal ends here -->


<!--edit shipping Charges Modal Start From here -->

<div id="editlargeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Shipping rate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body add_user_list">
                <form [formGroup]="zoneEditFormGroup">
                    <ul>
                        <!-- <li>
                            <label>Zone Name<span class="red">*</span></label>
                            <mat-form-field [floatLabel]="'never'">
                                <input matInput type="text" placeholder="" name="name" formControlName="zoneName">
                            </mat-form-field>
                        </li> -->
                        <li>
                            <label>Country<span class="red">*</span></label>
                            <input readonly matInput formControlName="selectedCountry" id="browser">

                            <!-- <select (selectionChange)="countrySelected($event.value)">
                            <input class="form-controll" placeholder="Search Product"
                                (keyup)="onKeyInCountry($event.target.value)">
                            <option>None</option>
                            <option *ngFor="let body of countryList" [value]="body.code">{{body.name}}
                            </option>
                        </select> -->

                        </li>

                        <li class="row">
                            <label>Shipping charges below this range<span class="red">*</span></label>
                            <div>
                                <input type="number" placeholder="" formControlName="belowMinValue" name="name">

                            </div>

                        </li>
                        <li>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Product min value<span class="red">*</span></label>
                                    <input type="number" class="form-controll" placeholder="" formControlName="minValue"
                                        name="name">
                                </div>
                                <div class="col-lg-3 offset-lg-1">
                                    <label>Product max value<span class="red">*</span></label>
                                    <input type="number" placeholder="" formControlName="maxValue" name="name">
                                </div>

                            </div>
                        </li>

                        <li class="row">
                            <label>Shipping charges in this range<span class="red">*</span></label>
                            <div>
                                <input type="number" placeholder="" formControlName="rangePrice" name="name">

                            </div>

                        </li>


                        <li class="row">
                            <label>Price above max value<span class="red">*</span></label>
                            <div>
                                <input type="number" placeholder="" formControlName="aboveMaxValue" name="name">

                            </div>

                        </li>


                    </ul>
                </form>
            </div>
            <div class="modal-footer">

                <button mat-button data-dismiss="modal" class="button" (click)="updateShippingRate()">Save</button>

            </div>
        </div>
    </div>
</div>
<!-- MOdal ends here -->